Repository Gait-Fitz/ProjectMarch, changes with the owners that CODEOWNERS names for each.
All owners: @Olavhaasie, @gaiavdh, @marnixbrands

CODEOWNERS:

* @Olavhaasie

*.gait @gaiavdh @marnixbrands
*.subgait @gaiavdh @marnixbrands
*.yaml @gaiavdh @marnixbrands

Fix flake8 issue in ik_solver.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_subgait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/to_trajectory_command_node.py
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/ik_solver.py
Owners: @Olavhaasie

Change service from 1tot2 to 2to1
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
Owners: @gaiavdh, @marnixbrands

Add the first library to march_gazebo_plugins CMakeLists with include messages in ROS2 style
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
  ros2/src/shared/march_shared_msgs/msg/JointValues.msg
  ros2/src/shared/march_shared_msgs/srv/ChangeComLevel.srv
  ros2/src/shared/march_shared_msgs/srv/GetPossibleComLevels.srv
  ros2/src/simulation/march_gazebo_plugins/CMakeLists.txt
  ros2/src/simulation/march_gazebo_plugins/include/contact/contact_plugin.h
  ros2/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/com_controller_plugin.h
  ros2/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/obstacle_controller.h
  ros2/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/walk_controller.h
  ros2/src/simulation/march_gazebo_plugins/src/com_controller_plugin.cpp
  ros2/src/simulation/march_gazebo_plugins/src/contact_plugin.cpp
  ros2/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
  ros2/src/simulation/march_gazebo_plugins/src/walk_controller.cpp
Owners: @Olavhaasie

Small change to bridge
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
Owners: @gaiavdh, @marnixbrands

Add the basis of the IK solver client
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/ik_client_node.py
Owners: @gaiavdh, @marnixbrands, @Olavhaasie

Add folders for the gaits
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/walk_large_slow/test
Owners: @Olavhaasie

Add all folders for the gaits
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/home_stand/test
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/individual_joints_test/test
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/sit/test
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/stairs_down/test
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/stairs_up/test
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/stand/test
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/walk_large_fast/test
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/walk_large_medium/test
Owners: @Olavhaasie

Add gait files for walk_large_fast
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/walk_large_fast/left_close/MVI_walklarge_leftclose_v10.subgait
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/walk_large_fast/left_swing/MVI_walklarge_leftswing_v10.subgait
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/walk_large_fast/right_close/MVI_walklarge_rightclose_v10.subgait
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/walk_large_fast/right_open/MVI_walklarge_rightopen_v10.subgait
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/walk_large_fast/right_swing/MVI_walklarge_rightswing_v10.subgait
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/walk_large_fast/test
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/walk_large_fast/walk_large.gait
Owners: @gaiavdh, @marnixbrands, @Olavhaasie

Add README specifying where the different filescame from
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/README
Owners: @Olavhaasie

Change names and titles of gaits to match the names of the folders
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/stairs_down_high_deep/stairs_down_high_deep.gait
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/stairs_down_low_undeep/stairs_down_low_undeep.gait
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/stairs_up_high_deep/stairs_uphigh_deep.gait
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/stairs_up_low_undeep/stairs_up_low_undeep.gait
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/walk_fast/walk_fast.gait
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/walk_medium/walk_medium.gait
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/walk_slow/walk_slow.gait
Owners: @gaiavdh, @marnixbrands

Change names and titles of gaits to match the names of the folders for real this time
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/stairs_down_high_deep/stairs_down_high_deep.gait
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/stairs_down_low_undeep/stairs_down_low_undeep.gait
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/stairs_up_high_deep/stairs_uphigh_deep.gait
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/stairs_up_low_undeep/stairs_up_low_undeep.gait
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/walk_fast/walk_fast.gait
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/walk_medium/walk_medium.gait
  ros2/src/gaits/march_gait_files/march_vii_gaits/control_test_gaits/walk_slow/walk_slow.gait
Owners: @gaiavdh, @marnixbrands

Add control gaits per joint
  ros2/src/gaits/march_gait_files/CMakeLists.txt
  ros2/src/gaits/march_gait_files/march_vii_gaits/both_ankles/both_ankles.gait
  ros2/src/gaits/march_gait_files/march_vii_gaits/both_ankles/both_ankles_subgait/both_ankles_v1.subgait
  ros2/src/gaits/march_gait_files/march_vii_gaits/both_hips/both_hips.gait
  ros2/src/gaits/march_gait_files/march_vii_gaits/both_hips/both_hips_subgait/both_hips_v1.subgait
  ros2/src/gaits/march_gait_files/march_vii_gaits/both_hips_aa/both_hips_aa.gait
  ros2/src/gaits/march_gait_files/march_vii_gaits/both_hips_aa/both_hips_aa_subgait/both_hips_aa_v1.subgait
  ros2/src/gaits/march_gait_files/march_vii_gaits/both_knees/both_knees.gait
  ros2/src/gaits/march_gait_files/march_vii_gaits/both_knees/both_knees_subgait/both_knees_v1.subgait
  ros2/src/gaits/march_gait_files/march_vii_gaits/both_legs_straight/both_legs_straight.gait
  ros2/src/gaits/march_gait_files/march_vii_gaits/both_legs_straight/both_legs_straight_subgait/both_legs_straight_v1.subgait
  ros2/src/gaits/march_gait_files/march_vii_gaits/default.yaml
  ros2/src/visualization/march_rqt_input_device/config/control_test.json
Owners: @Olavhaasie, @gaiavdh, @marnixbrands

Make sure that the numpy linspace used for the gait generator uses an integer as num argument
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/joint_plot.py
Owners: @Olavhaasie

Add 2 weeks expire for artifacts
  .gitlab/pipeline/build-code.yml
  .gitlab/pipeline/documentation/docs-build-test-and-publish.yml
  .gitlab/pipeline/lint-code.yml
Owners: @Olavhaasie

Add note about the need for sudo
  docs/doc/development/style_guide.rst
Owners: @Olavhaasie

Add rm option to docker run commands
  docs/doc/development/style_guide.rst
Owners: @Olavhaasie

Make script to check Laplacian and make setup for pointcloud to 2d map
  matrix_map/laplacian_matrix.py
  matrix_map/map_pc_to_matrix.py
  matrix_map/pc.py
Owners: @Olavhaasie

Add final position finding by searching in front or in the back of optimal point
  matrix_map/map_pc_to_matrix.py
Owners: @Olavhaasie

Create foot position finder algorithm using a height map. Works for right foot.
  matrix_map/map_pc_to_matrix.py
  ros2/src/vision/foot_position_finder/CMakeLists.txt
  ros2/src/vision/foot_position_finder/include/foot_position_finder.h
  ros2/src/vision/foot_position_finder/include/preprocessor.h
  ros2/src/vision/foot_position_finder/include/utilities/realsense_to_pcl.hpp
  ros2/src/vision/foot_position_finder/package.xml
  ros2/src/vision/foot_position_finder/src/bla.py
  ros2/src/vision/foot_position_finder/src/foot_position_finder.cpp
  ros2/src/vision/foot_position_finder/src/main.cpp
  ros2/src/vision/foot_position_finder/src/preprocessor.cpp
Owners: @Olavhaasie

Add temporal average for points
  ros2/src/vision/foot_position_finder/CMakeLists.txt
  ros2/src/vision/foot_position_finder/include/foot_position_finder.h
  ros2/src/vision/foot_position_finder/src/bla.py
  ros2/src/vision/foot_position_finder/src/foot_position_finder.cpp
  ros2/src/vision/foot_position_finder/src/foot_position_finder_node.cpp
Owners: @Olavhaasie

Convert ROS2 position finder package to ROS1
  ros1/src/march_launch/launch/march.launch
  ros1/src/vision/foot_position_finder/CMakeLists.txt
  ros1/src/vision/foot_position_finder/include/foot_position_finder.h
  ros1/src/vision/foot_position_finder/include/preprocessor.h
  ros1/src/vision/foot_position_finder/include/utilities/realsense_to_pcl.hpp
  ros1/src/vision/foot_position_finder/launch/foot_position_finder.launch
  ros1/src/vision/foot_position_finder/package.xml
  ros1/src/vision/foot_position_finder/src/foot_position_finder.cpp
  ros1/src/vision/foot_position_finder/src/foot_position_finder_node.cpp
  ros1/src/vision/foot_position_finder/src/preprocessor.cpp
  ros2/src/vision/foot_position_finder/CMakeLists.txt
  ros2/src/vision/foot_position_finder/package.xml
  ros2/src/vision/foot_position_finder/src/foot_position_finder_node.cpp
Owners: @Olavhaasie

Incorporate realsense gazebo plugin in the foot position finder algorithm
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_launch/launch/march_simulation.launch
  ros1/src/vision/foot_position_finder/CMakeLists.txt
  ros1/src/vision/foot_position_finder/include/foot_position_finder.h
  ros1/src/vision/foot_position_finder/include/point_finder.h
  ros1/src/vision/foot_position_finder/include/preprocessor.h
  ros1/src/vision/foot_position_finder/src/foot_position_finder.cpp
  ros1/src/vision/foot_position_finder/src/foot_position_finder_node.cpp
  ros1/src/vision/foot_position_finder/src/point_finder.cpp
  ros1/src/vision/foot_position_finder/src/preprocessor.cpp
  ros2/src/shared/march_description/urdf/march6.xacro
Owners: @Olavhaasie

Enable point finding algorithm to work with simulated realsenses in Gazebo
  ros1/src/vision/foot_position_finder/include/foot_position_finder.h
  ros1/src/vision/foot_position_finder/include/point_finder.h
  ros1/src/vision/foot_position_finder/include/preprocessor.h
  ros1/src/vision/foot_position_finder/include/utilities/publish_utilities.hpp
  ros1/src/vision/foot_position_finder/src/foot_position_finder.cpp
  ros1/src/vision/foot_position_finder/src/foot_position_finder_node.cpp
  ros1/src/vision/foot_position_finder/src/point_finder.cpp
  ros1/src/vision/foot_position_finder/src/preprocessor.cpp
Owners: @Olavhaasie

Clean code and add comments
  matrix_map/laplacian_matrix.py
  matrix_map/map_pc_to_matrix.py
  matrix_map/pc.py
  ros1/src/march_launch/launch/march.launch
  ros1/src/vision/foot_position_finder/src/point_finder.cpp
  ros1/src/vision/march_foot_position_finder/CMakeLists.txt
  ros1/src/vision/march_foot_position_finder/include/foot_position_finder.h
  ros1/src/vision/march_foot_position_finder/include/point_finder.h
  ros1/src/vision/march_foot_position_finder/include/preprocessor.h
  ros1/src/vision/march_foot_position_finder/include/utilities/math_utilities.hpp
  ros1/src/vision/march_foot_position_finder/include/utilities/publish_utilities.hpp
  ros1/src/vision/march_foot_position_finder/include/utilities/realsense_to_pcl.hpp
  ros1/src/vision/march_foot_position_finder/launch/march_foot_position_finder.launch
  ros1/src/vision/march_foot_position_finder/package.xml
  ros1/src/vision/march_foot_position_finder/src/foot_position_finder.cpp
  ros1/src/vision/march_foot_position_finder/src/foot_position_finder_node.cpp
  ros1/src/vision/march_foot_position_finder/src/point_finder.cpp
  ros1/src/vision/march_foot_position_finder/src/preprocessor.cpp
Owners: @Olavhaasie

Update gazebo xacro file
  ros2/src/shared/march_description/urdf/camera/_d435.gazebo.xacro
Owners: @Olavhaasie

Fix conflicts
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection_node.py
Owners: @Olavhaasie

Add calculation for side_step to ik_solver
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/ik_solver.py
  ros2/src/shared/march_utility/march_utility/utilities/utility_functions.py
Owners: @Olavhaasie

Let IK solver perform hip_aa adaption if side_step is requested
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/ik_solver.py
Owners: @Olavhaasie

Add z_position of the ankle to the simulation
  ros2/src/gaits/march_fake_covid/launch/march_fake_covid.launch.py
  ros2/src/gaits/march_fake_covid/march_fake_covid/fake_covid_publisher.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_subgait.py
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/ik_solver.py
  ros2/src/march_launch/launch/march.launch.py
  ros2/src/march_launch/launch/march_simulation.launch.py
Owners: @Olavhaasie

Fix flake8 issues
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/ik_solver.py
  ros2/src/shared/march_utility/march_utility/utilities/utility_functions.py
Owners: @Olavhaasie

Will add a test markdown to see how documentation looks like
  ros2/src/gaits/march_goniometric_ik_solver/README.md
  ros2/src/gaits/march_goniometric_ik_solver/images/side_step_negative.svg
Owners: @Olavhaasie

Add apostrophes to inline math
  ros2/src/gaits/march_goniometric_ik_solver/README.md
Owners: @Olavhaasie

Merge covid into dynamic gait
  .gitignore
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_launch/launch/march_simulation.launch
  ros1/src/vision/march_foot_position_finder/CMakeLists.txt
  ros1/src/vision/march_foot_position_finder/include/foot_position_finder.h
  ros1/src/vision/march_foot_position_finder/include/point_finder.h
  ros1/src/vision/march_foot_position_finder/include/preprocessor.h
  ros1/src/vision/march_foot_position_finder/include/utilities/math_utilities.hpp
  ros1/src/vision/march_foot_position_finder/include/utilities/publish_utilities.hpp
  ros1/src/vision/march_foot_position_finder/include/utilities/realsense_to_pcl.hpp
  ros1/src/vision/march_foot_position_finder/launch/march_foot_position_finder.launch
  ros1/src/vision/march_foot_position_finder/package.xml
  ros1/src/vision/march_foot_position_finder/src/foot_position_finder.cpp
  ros1/src/vision/march_foot_position_finder/src/foot_position_finder_node.cpp
  ros1/src/vision/march_foot_position_finder/src/point_finder.cpp
  ros1/src/vision/march_foot_position_finder/src/preprocessor.cpp
  ros2/src/shared/march_description/urdf/camera/_d435.gazebo.xacro
  ros2/src/shared/march_description/urdf/march6_three_cameras.xacro
Owners: @Olavhaasie

Change resolution of simulation cameras
  ros2/src/shared/march_description/urdf/camera/_d435.gazebo.xacro
Owners: @Olavhaasie

Add covid topics to bridge
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
Owners: @gaiavdh, @marnixbrands

Disable fake covid publisher
  ros2/src/gaits/march_fake_covid/march_fake_covid/fake_covid_publisher.py
Owners: @Olavhaasie

Make basics of new controller for only PID
  ros1/src/control/march_roscontrol_pid/CMakeLists.txt
  ros1/src/control/march_roscontrol_pid/controller_plugins.xml
  ros1/src/control/march_roscontrol_pid/include/pid_roscontrol.hpp
  ros1/src/control/march_roscontrol_pid/package.xml
  ros1/src/control/march_roscontrol_pid/src/pid_roscontrol.cpp
Owners: @Olavhaasie

Read correct positions
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_subgait.py
Owners: @Olavhaasie

Create documentation for the IK solver package
  ros2/src/gaits/march_goniometric_ik_solver/README.md
  ros2/src/gaits/march_goniometric_ik_solver/images/calculate_ground_pose_flexion.svg
  ros2/src/gaits/march_goniometric_ik_solver/images/calculate_lifted_pose.svg
  ros2/src/gaits/march_goniometric_ik_solver/images/side_step.svg
  ros2/src/gaits/march_goniometric_ik_solver/images/side_step_negative.svg
Owners: @Olavhaasie

Add docker startup options for airgait, groundgait and training
  .docker_local/docker-compose-gpu.yaml
  .docker_local/docker-compose.yaml
  .docker_local/dockerfiles/docker-compose.yaml
  .docker_local/start_scripts/run/airgait/bridge.bash
  .docker_local/start_scripts/run/airgait/ros1.bash
  .docker_local/start_scripts/run/airgait/ros2.bash
  .docker_local/start_scripts/run/gait_default/bridge.bash
  .docker_local/start_scripts/run/gait_default/ros1.bash
  .docker_local/start_scripts/run/gait_default/ros2.bash
  .docker_local/start_scripts/run/groundgait/bridge.bash
  .docker_local/start_scripts/run/groundgait/ros1.bash
  .docker_local/start_scripts/run/groundgait/ros2.bash
  .docker_local/start_scripts/run/sim/bridge.bash
  .docker_local/start_scripts/run/sim/ros1.bash
  .docker_local/start_scripts/run/sim/ros2.bash
  .docker_local/start_scripts/run/training/bridge.bash
  .docker_local/start_scripts/run/training/ros1.bash
  .docker_local/start_scripts/run/training/ros2.bash
Owners: @gaiavdh, @marnixbrands, @Olavhaasie
