Repository Gait-Fitz/ProjectMarch, changes with the owners that CODEOWNERS names for each.
All owners: @Olavhaasie, @gaiavdh, @marnixbrands

CODEOWNERS:

* @Olavhaasie

*.gait @gaiavdh @marnixbrands
*.subgait @gaiavdh @marnixbrands
*.yaml @gaiavdh @marnixbrands

Set new right ankle limits and autobuild three_cameras urdf
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros1/src/shared/march_description/CMakeLists.txt
  ros2/src/shared/march_description/CMakeLists.txt
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Owners: @gaiavdh, @marnixbrands, @Olavhaasie

Create 'step and hold' gait
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step_and_hold.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/visualization/march_rqt_input_device/config/training.json
Owners: @Olavhaasie

Add position queue and adjust hold position
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step_and_hold.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_subgait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection_node.py
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/ik_solver.py
Owners: @Olavhaasie

Remove hip aa movement
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step_and_hold.py
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/ik_solver.py
Owners: @Olavhaasie

Inherit from step and close instead of step
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step_and_hold.py
  ros2/src/shared/march_utility/march_utility/exceptions/gait_exceptions.py
Owners: @Olavhaasie

Cherry pick step and hold gait
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step_and_hold.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_subgait.py
Owners: @Olavhaasie

Fix broken add_to_queue function and clarify logger names
  ros2/src/gaits/march_gait_selection/config/position_queue.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step_and_close.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step_and_hold.py
Owners: @gaiavdh, @marnixbrands, @Olavhaasie

Comment haas
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Owners: @gaiavdh, @marnixbrands

Align cameras in xacro
  ros2/src/shared/march_description/urdf/march6_three_cameras.xacro
Owners: @Olavhaasie

Change marker color for left and right in stone finder
  ros1/src/vision/march_stone_finder/src/march_stone_finder/stone_finder.py
  ros1/src/vision/march_stone_finder/src/march_stone_finder/utilities.py
Owners: @Olavhaasie

Fix message time check in step and hold
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step_and_hold.py
Owners: @Olavhaasie

Increase ankle buffer to 3 degrees
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/ik_solver.py
Owners: @Olavhaasie

Comment haa's in march6.yaml
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Owners: @gaiavdh, @marnixbrands

Set new right ankle limits and autobuild three_cameras urdf
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Owners: @gaiavdh, @marnixbrands

Add start to the gait file to enable running
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/hold_several_positions.gait
Owners: @gaiavdh, @marnixbrands

Disable HAA
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Owners: @gaiavdh, @marnixbrands

Ignore backsense camera in stone finder
  ros1/src/vision/march_stone_finder/src/march_stone_finder/stone_finder_node.py
Owners: @Olavhaasie

Enable backsense in launch files
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_launch/launch/realsense_camera.launch
Owners: @Olavhaasie

Align cameras in xacro
  ros2/src/shared/march_description/urdf/march6_three_cameras.xacro
Owners: @Olavhaasie

Fix overlapping pointclouds
  ros1/src/vision/march_stone_finder/src/march_stone_finder/stone_finder.py
Owners: @Olavhaasie

Add connected components again
  ros1/src/vision/march_stone_finder/src/march_stone_finder/stone_finder.py
Owners: @Olavhaasie

Fix typeo
  ros1/src/vision/march_stone_finder/src/march_stone_finder/stone_finder.py
Owners: @Olavhaasie

Always step to 0.06 height and ankle buffer to 2 deg
  ros2/src/gaits/march_gait_preprocessor/march_gait_preprocessor/gait_preprocessor.py
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/ik_solver.py
Owners: @Olavhaasie

Remove 'lwf' regularization and unnecessary comments
  ros2/src/hardware/march_eeg/march_eeg/eeg_utility.py
Owners: @Olavhaasie

Add cybtahlon buttons
  ros2/src/hardware/march_wireless_ipd/march_wireless_ipd/connection_manager.py
  ros2/src/hardware/march_wireless_ipd/march_wireless_ipd/march_wireless_ipd_node.py
  ros2/src/hardware/march_wireless_ipd/march_wireless_ipd/wireless_ipd_controller.py
Owners: @Olavhaasie

Send point data to IPD
  ros2/src/hardware/march_wireless_ipd/march_wireless_ipd/connection_manager.py
Owners: @Olavhaasie

Remove pause
  ros2/src/hardware/march_wireless_ipd/march_wireless_ipd/connection_manager.py
Owners: @Olavhaasie

Disable HAAs
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Owners: @gaiavdh, @marnixbrands

Set new right ankle limits and autobuild three_cameras urdf
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Owners: @gaiavdh, @marnixbrands

Add Koen test data
  .gitattributes
  ros2/src/hardware/march_eeg/resource/TestEpochDataKoen.csv
Owners: @Olavhaasie

Make cameras vertical in urdf
  ros2/src/shared/march_description/urdf/march6_three_cameras.xacro
Owners: @Olavhaasie

Add fixed cybathlon gaits to ipd and add distance message
  ros2/src/hardware/march_wireless_ipd/march_wireless_ipd/connection_manager.py
  ros2/src/hardware/march_wireless_ipd/march_wireless_ipd/march_wireless_ipd_node.py
  ros2/src/hardware/march_wireless_ipd/march_wireless_ipd/wireless_ipd_controller.py
Owners: @Olavhaasie

Remove close connection in wireless ipd
  ros2/src/hardware/march_wireless_ipd/march_wireless_ipd/connection_manager.py
Owners: @Olavhaasie

Tune gait parameters
  ros2/src/gaits/march_gait_preprocessor/march_gait_preprocessor/gait_preprocessor.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step_and_hold.py
Owners: @Olavhaasie

Update urdf for new camera orientation
  ros2/src/shared/march_description/urdf/march6_three_cameras.xacro
Owners: @Olavhaasie

Koen gait local changes, sorry george for the ugly commit
  ros1/src/vision/march_stone_finder/config/parameters.cfg
  ros1/src/vision/march_stone_finder/src/march_stone_finder/stone_finder.py
  ros2/src/gaits/march_gait_preprocessor/march_gait_preprocessor/gait_preprocessor.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step_and_hold.py
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/ik_solver.py
  ros2/src/hardware/march_wireless_ipd/launch/wireless_ipd.launch.py
  ros2/src/hardware/march_wireless_ipd/march_wireless_ipd/connection_manager.py
Owners: @Olavhaasie

Rename test_joints to test_joints_M6
  ros2/src/shared/march_description/urdf/properties/test_joints M6.yaml
Owners: @gaiavdh, @marnixbrands

Create M6 yamls for the rotational and linear joint
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_linear M6.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_rotational M6.yaml
Owners: @gaiavdh, @marnixbrands

Create the yamls for the new M7 joint
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_linear.yaml
  ros2/src/shared/march_description/urdf/properties/test_joints.yaml
Owners: @gaiavdh, @marnixbrands

Fix step size bug after a close gait
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step_and_hold.py
Owners: @Olavhaasie
