Repository Gait-Fitz/ProjectMarch, changes with the owners that CODEOWNERS names for each.
All owners: @Olavhaasie, @gaiavdh, @marnixbrands

CODEOWNERS:

* @Olavhaasie

*.gait @gaiavdh @marnixbrands
*.subgait @gaiavdh @marnixbrands
*.yaml @gaiavdh @marnixbrands

Update python style
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/setpoints_gait.py
Owners: @Olavhaasie

Add os import for path usage
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/setpoints_gait.py
Owners: @Olavhaasie

Fix flake8
  ros2/src/shared/march_utility/march_utility/gait/gait.py
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/gait_version_tool_view.py
Owners: @Olavhaasie

Remove debug messages
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/gait_version_tool_view.py
Owners: @Olavhaasie

Working awgn publisher node
  ros1/src/control/march_system_identification/CMakeLists.txt
  ros1/src/control/march_system_identification/launch/frequency_response_analysis.launch
  ros1/src/control/march_system_identification/launch/system_identification.launch
  ros1/src/control/march_system_identification/nodes/frequency_response_analysis_node
  ros1/src/control/march_system_identification/scripts/march_system_identification
  ros1/src/control/march_system_identification/src/march_system_identification/frequency_response_analysis.py
  ros1/src/control/march_system_identification/src/march_system_identification/frf_agwn.py
  ros1/src/control/march_system_identification/src/march_system_identification/system_identification_node.py
Owners: @Olavhaasie

Made the node publish a list of zeros but only the value of the chosen joint is filled in
  ros1/src/control/march_system_identification/CMakeLists.txt
  ros1/src/control/march_system_identification/launch/frequency_response_analysis.launch
  ros1/src/control/march_system_identification/nodes/frequency_response_analysis
  ros1/src/control/march_system_identification/nodes/frequency_response_analysis_node
  ros1/src/control/march_system_identification/src/march_system_identification/frequency_response_analysis.py
Owners: @Olavhaasie

Moving all external code into one single script. Collect measurement data and save it in a compressed file. Adding a shutdown function
  ros1/src/control/march_system_identification/CMakeLists.txt
  ros1/src/control/march_system_identification/launch/frequency_response_analysis.launch
  ros1/src/control/march_system_identification/nodes/frequency_response_analysis
  ros1/src/control/march_system_identification/package.xml
  ros1/src/control/march_system_identification/src/march_system_identification/frequency_response_analysis
  ros1/src/control/march_system_identification/src/march_system_identification/frequency_response_analysis.py
Owners: @Olavhaasie

Adding shutdown functions, desired_data_points parameter and the first draft of the frf estimation function
  ros1/src/control/march_system_identification/launch/frequency_response_analysis.launch
  ros1/src/control/march_system_identification/src/march_system_identification/frequency_response_analysis
Owners: @Olavhaasie

Adding subcriber to hardware_interface that fills a feedforward vector with a callback function
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Adding mean and std launch parameters
  ros1/src/control/march_system_identification/launch/frequency_response_analysis.launch
  ros1/src/control/march_system_identification/src/march_system_identification/frequency_response_analysis
Owners: @Olavhaasie

Updating frf estimation
  ros1/src/control/march_system_identification/CMakeLists.txt
  ros1/src/control/march_system_identification/src/march_system_identification/frequency_response_analysis
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Adding shutdown functions, desired_data_points parameter and the first draft of the frf estimation function
  ros1/src/control/march_system_identification/launch/frequency_response_analysis.launch
  ros1/src/control/march_system_identification/src/march_system_identification/frequency_response_analysis
Owners: @Olavhaasie

Made the node publish a list of zeros but only the value of the chosen joint is filled in
  ros1/src/control/march_system_identification/CMakeLists.txt
  ros1/src/control/march_system_identification/launch/frequency_response_analysis.launch
  ros1/src/control/march_system_identification/nodes/frequency_response_analysis
  ros1/src/control/march_system_identification/nodes/frequency_response_analysis_node
  ros1/src/control/march_system_identification/src/march_system_identification/frequency_response_analysis.py
Owners: @Olavhaasie

Adding mean and std launch parameters
  ros1/src/control/march_system_identification/launch/frequency_response_analysis.launch
  ros1/src/control/march_system_identification/src/march_system_identification/frequency_response_analysis
Owners: @Olavhaasie

Moving all external code into one single script. Collect measurement data and save it in a compressed file. Adding a shutdown function
  ros1/src/control/march_system_identification/CMakeLists.txt
  ros1/src/control/march_system_identification/launch/frequency_response_analysis.launch
  ros1/src/control/march_system_identification/nodes/frequency_response_analysis
  ros1/src/control/march_system_identification/package.xml
  ros1/src/control/march_system_identification/src/march_system_identification/frequency_response_analysis
  ros1/src/control/march_system_identification/src/march_system_identification/frequency_response_analysis.py
Owners: @Olavhaasie

First setup for creating a system identification toolbox package
  ros1/src/control/march_system_identification/CMakeLists.txt
  ros1/src/control/march_system_identification/launch/system_identification.launch
  ros1/src/control/march_system_identification/package.xml
  ros1/src/control/march_system_identification/scripts/march_system_identification
  ros1/src/control/march_system_identification/setup.py
  ros1/src/control/march_system_identification/src/march_system_identification/__init__.py
  ros1/src/control/march_system_identification/src/march_system_identification/frf_agwn.py
  ros1/src/control/march_system_identification/src/march_system_identification/system_identification_node.py
Owners: @Olavhaasie

Adding subcriber to hardware_interface that fills a feedforward vector with a callback function
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Working awgn publisher node
  ros1/src/control/march_system_identification/CMakeLists.txt
  ros1/src/control/march_system_identification/launch/frequency_response_analysis.launch
  ros1/src/control/march_system_identification/launch/system_identification.launch
  ros1/src/control/march_system_identification/nodes/frequency_response_analysis_node
  ros1/src/control/march_system_identification/scripts/march_system_identification
  ros1/src/control/march_system_identification/src/march_system_identification/frequency_response_analysis.py
  ros1/src/control/march_system_identification/src/march_system_identification/frf_agwn.py
  ros1/src/control/march_system_identification/src/march_system_identification/system_identification_node.py
Owners: @Olavhaasie

Updating frf estimation
  ros1/src/control/march_system_identification/CMakeLists.txt
  ros1/src/control/march_system_identification/src/march_system_identification/frequency_response_analysis
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Fixing reshaping error
  ros1/src/control/march_system_identification/src/march_system_identification/frequency_response_analysis
  ros1/src/hardware/interface/march_hardware_interface/config/test_joint_rotational/controllers.yaml
Owners: @Olavhaasie, @gaiavdh, @marnixbrands

Added options of obstacles to launch file for easy access to people that don't know the obstacles by heart
  ros1/src/march_launch/launch/march.launch
Owners: @Olavhaasie

Removed the code things in ros1.
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/utilities/realsense_category_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
  ros1/src/simulation/march_simulation/obstacles/curb.xacro
Owners: @Olavhaasie

Again ros1 fix.
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Owners: @Olavhaasie

And again...
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
Owners: @Olavhaasie

Made the gaits.
  ros2/src/gaits/march_gait_files/airgait_vi/curb_down/left_close/MVI_curbdown_leftclose_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_down/left_close/MVI_curbdown_leftclose_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_down/right_open/MVI_curbdown_rightopen_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_down/right_open/MVI_curbdown_rightopen_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_up/left_close/MVI_curbup_leftclose_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_up/left_close/MVI_curbup_leftclose_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_up/right_open/MVI_curbup_rightopen_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_up/right_open/MVI_curbup_rightopen_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/default.yaml
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/left_close/MVI_curbdown_leftclose_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/left_close/MVI_curbdown_leftclose_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/realsense_curb_down.gait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/right_open/MVI_curbdown_rightopen_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/right_open/MVI_curbdown_rightopen_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/left_close/MVI_curbup_leftclose_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/left_close/MVI_curbup_leftclose_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/realsense_curb_up.gait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/right_open/MVI_curbup_rightopen_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/right_open/MVI_curbup_rightopen_low.subgait
Owners: @gaiavdh, @marnixbrands

Add method to header and improve comments
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Owners: @Olavhaasie

Format cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Owners: @Olavhaasie

Add the curb up obstacle to the realsense reader
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/utilities/realsense_category_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Owners: @Olavhaasie

Do not clear the gait menu on every refresh
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/gait_version_tool_view.py
Owners: @Olavhaasie

Fix bugs and build
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Owners: @Olavhaasie

Throw warning when a version is not found, imporve log statement
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/gait_version_tool_view.py
Owners: @Olavhaasie

Add get valid locations on curb method
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Owners: @Olavhaasie

Fix typos
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Owners: @Olavhaasie

Final curb up and down (realsense) gaits.
  ros1/src/simulation/march_simulation/obstacles/curb.xacro
  ros2/src/gaits/march_gait_files/airgait_vi/curb_down/left_close/MVI_curbdown_leftclose_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_down/left_close/MVI_curbdown_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_down/right_open/MVI_curbdown_rightopen_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_down/right_open/MVI_curbdown_rightopen_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_down/right_open/MVI_curbdown_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_up/left_close/MVI_curbup_leftclose_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_up/left_close/MVI_curbup_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_up/right_open/MVI_curbup_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/default.yaml
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/left_close/MVI_curbdown_leftclose_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/left_close/MVI_curbdown_leftclose_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/left_close/MVI_curbdown_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/right_open/MVI_curbdown_rightopen_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/right_open/MVI_curbdown_rightopen_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/right_open/MVI_curbdown_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/left_close/MVI_curbup_leftclose_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/left_close/MVI_curbup_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/right_open/MVI_curbup_rightopen_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/right_open/MVI_curbup_rightopen_v3.subgait
Owners: @Olavhaasie, @gaiavdh, @marnixbrands

Add the curb down obstacle to the gaits
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_gaits.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/realsense_gait.py
Owners: @gaiavdh, @marnixbrands, @Olavhaasie

Fix typo in service
  ros1/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
  ros2/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
Owners: @Olavhaasie

Add mpc visualization documentation
  ros2/src/visualization/march_mpc_visualization/README.md
Owners: @Olavhaasie

Apply 1 suggestion(s) to 1 file(s)
  ros2/src/visualization/march_mpc_visualization/README.md
Owners: @Olavhaasie

Update default.yaml
  ros2/src/gaits/march_gait_files/test_joint_rotational_gaits/default.yaml
Owners: @gaiavdh, @marnixbrands

Add the new category to the service and the realsense gait class
  ros1/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/realsense_gait.py
  ros2/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
Owners: @Olavhaasie
