Repository Gait-Fitz/ProjectMarch, changes with the owners that CODEOWNERS names for each.
All owners: @Olavhaasie, @gaiavdh, @marnixbrands

CODEOWNERS:

* @Olavhaasie

*.gait @gaiavdh @marnixbrands
*.subgait @gaiavdh @marnixbrands
*.yaml @gaiavdh @marnixbrands

Add some documentation about porting MoveIt demo package to ROS2
  ros2/src/moveit2/march3_moveit2_config/README.MD
Owners: @Olavhaasie

draft:Change dockerfile and pipeline to trigger redock
  .gitlab/dockerfiles/clang_format
  .gitlab/pipeline/build-container.yml
Owners: @Olavhaasie

Add function in pointcloud preprocessing to find highest point.
  ros1/src/data/march_realsense_reader/CMakeLists.txt
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/highest_point_finder.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/highest_point_finder.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Owners: @Olavhaasie

Readd comment that was removed previously
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Owners: @Olavhaasie

Add a ROS parameter and corresponding check to turn balance correction on and off
  ros1/src/simulation/march_gazebo_plugins/src/com_controller_plugin.cpp
Owners: @Olavhaasie

Publish highest point on new topic every time realsense is utilised.
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Owners: @Olavhaasie

Add a ROS controller based on panda example in ROS2: https://github.com/ros-planning/moveit_resources/tree/ros2/panda_moveit_config
  ros2/src/moveit2/march_moveit2_config/config/controllers.yaml
  ros2/src/moveit2/march_moveit2_config/config/ros_controllers.yaml
  ros2/src/moveit2/march_moveit2_config/launch/demo.launch.py
  ros2/src/shared/march_description/urdf/march7.urdf
Owners: @gaiavdh, @marnixbrands, @Olavhaasie

Add the subgait files for the balanced_walk gait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/balance_walk.gait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/left_close/MIV_final.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/left_close/MV_walk_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/left_close/MV_walk_leftclose_v2.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/left_close/MV_walk_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/left_close/MV_walk_leftclose_v5.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/left_swing/MV_balancewalk_leftswing_v1.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/left_swing_1/MV_balancewalk_leftswing1_v2.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/left_swing_2/MV_balancewalk_leftswing2_v2.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/right_close/MIV_final.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/right_close/MV_walk_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/right_close/MV_walk_rightclose_v2.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/right_close/MV_walk_rightclose_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/right_close/MV_walk_rightclose_v5.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/right_open/MV_balancewalk_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/right_open_1/MV_balancewalk_rightopen1_v2.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/right_open_1/MV_balancewalk_rightopen1_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/right_open_1/MV_balancewalk_rightopen1_v5_4.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/right_open_1/MV_balancewalk_rightopen1_v6.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/right_open_1/MV_balancewalk_rightopen1_v6_2.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/right_open_1/MV_balancewalk_rightopen1_v6_3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/right_open_1/MV_balancewalk_rightopen1_v6_4.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/right_open_2/MV_balancewalk_rightopen2_v2.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/right_open_2/MV_balancewalk_rightopen2_v5_2.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/right_open_2/MV_balancewalk_rightopen2_v6_3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/right_swing/MV_balancewalk_rightswing_v1.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/right_swing_1/MV_balancewalk_rightswing1_v2.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/balance_walk/right_swing_2/MV_balancewalk_rightswing2_v2.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/default.yaml
Owners: @gaiavdh, @marnixbrands

Fix some minor stylistic errors
  ros2/src/shared/march_utility/march_utility/gait/gait_graph.py
Owners: @Olavhaasie

Make the import conform the style guide even more
  ros2/src/shared/march_utility/march_utility/gait/gait_graph.py
Owners: @Olavhaasie

Add balanced walk as a standard option for the IPD
  ros2/src/visualization/march_rqt_input_device/config/training.json
Owners: @Olavhaasie

Make the __str__ method handle DEPs correctly
  ros2/src/shared/march_utility/march_utility/gait/gait_graph.py
Owners: @Olavhaasie

Catch whitespace errors before the pipeline does
  ros2/src/shared/march_utility/march_utility/gait/gait_graph.py
Owners: @Olavhaasie

Remove trailing whitespaces that kill flake8
  ros2/src/shared/march_utility/march_utility/gait/gait_graph.py
Owners: @Olavhaasie

This commit rotates the capture point around the static_foot so that the fall of the exo is taken into account.
  ros1/src/data/march_data_collector/src/march_data_collector/cp_calculator.py
Owners: @Olavhaasie

Add timers for preprocessor and main callback function
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Owners: @Olavhaasie

Fix a small oopsie
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Owners: @Olavhaasie

Test a child pipe
  .gitlab/pipeline/documentation/child.yml
  .gitlab/pipeline/documentation/docs.yml
  tmp.txt
Owners: @Olavhaasie

Test with var B
  .gitlab/pipeline/documentation/child.yml
  .gitlab/pipeline/documentation/docs.yml
Owners: @Olavhaasie

Remove first if statement
  .gitlab/pipeline/documentation/docs.yml
Owners: @Olavhaasie

Check stagin enviroment
  .gitlab/pipeline/documentation/docs-build-test-and-publish.yml
  .gitlab/pipeline/documentation/docs.yml
Owners: @Olavhaasie

Remove docker tag
  .gitlab/pipeline/documentation/docs.yml
Owners: @Olavhaasie

Add a subgait with two steps in a row
  ros2/src/gaits/march_gait_files/airgait_vi/walk/left_swing/MVI_walk_leftswing_v12_two_steps.subgait
Owners: @gaiavdh, @marnixbrands

Add accelerations of zero to every setpoint in the gait generator
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/joint_trajectory.py
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
Owners: @Olavhaasie

Add a comment to clarify the extra check in the __str__ method of GaitGraph.py
  ros2/src/shared/march_utility/march_utility/gait/gait_graph.py
Owners: @Olavhaasie

Remove image that causes commit issues
  ros1/src/gaits/march_rqt_gait_generator/resource/img/march-walking.png
Owners: @Olavhaasie

Use time-saving changes made by Thijs
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Owners: @Olavhaasie

Add yaml file for MPC testjoint
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros1/src/hardware/interface/march_hardware_interface/config/mixed_control/test_joint_rotational.yaml
Owners: @Olavhaasie, @gaiavdh, @marnixbrands

Change name of model in Cmake file
  ros1/src/control/march_acado_mpc/CMakeLists.txt
Owners: @Olavhaasie

Do the branch title
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
Owners: @Olavhaasie

Change load_yaml to xacro.load_yaml since load_yaml is deprecated
  ros2/src/shared/march_description/urdf/march4.xacro
  ros2/src/shared/march_description/urdf/march6.xacro
  ros2/src/shared/march_description/urdf/test_joint_linear.xacro
  ros2/src/shared/march_description/urdf/test_joint_rotational.xacro
Owners: @Olavhaasie

Change location yaml file to simulation
  ros1/src/simulation/march_simulation/config/airgait/mixed_control/test_joint_rotational.yaml
Owners: @gaiavdh, @marnixbrands

Add yaml file for test joint rotational with mpc to hardware interface
  ros1/src/hardware/interface/march_hardware_interface/config/mixed_control/test_joint_rotational.yaml
Owners: @gaiavdh, @marnixbrands

Change Ethercat settings and yaml file to work with real testjoint
  docs/doc/using_the_march_exoskeleton/setup_ethercat_grant.sh
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_rotational.yaml
Owners: @Olavhaasie, @gaiavdh, @marnixbrands

Convert foot position finder code to ros2 package
  pointcloud/CPP/CMakeLists.txt
  ros2/src/foot_position_finder/CMakeLists.txt
  ros2/src/foot_position_finder/include/hull_finder.h
  ros2/src/foot_position_finder/include/position_finder.h
  ros2/src/foot_position_finder/include/preprocessor.h
  ros2/src/foot_position_finder/include/region_creator.h
  ros2/src/foot_position_finder/include/utilities/linear_algebra_utilities.h
  ros2/src/foot_position_finder/include/utilities/realsense_to_pcl.hpp
  ros2/src/foot_position_finder/package.xml
  ros2/src/foot_position_finder/src/foot_position_finder_node.cpp
  ros2/src/foot_position_finder/src/hull_finder.cpp
  ros2/src/foot_position_finder/src/position_finder.cpp
  ros2/src/foot_position_finder/src/preprocessor.cpp
  ros2/src/foot_position_finder/src/region_creator.cpp
Owners: @Olavhaasie

Build basic GUI for march console
  .gitignore
  GUI/IPD.py
  GUI/main.py
  GUI/sit_chosen.png
  GUI/sit_selected.png
  GUI/sit_unselected.png
  GUI/stairs.png
  GUI/stairs_chosen.png
  GUI/stairs_selected.png
  GUI/stairs_unselected.png
  GUI/standup_chosen.png
  GUI/standup_selected.png
  GUI/standup_unselected.png
  GUI/walk_chosen.png
  GUI/walk_selected.png
  GUI/walk_unselected.png
Owners: @Olavhaasie

Test
  ros1/src/control/march_gain_scheduling/src/march_gain_scheduling/dynamic_pid_reconfigurer.py
Owners: @Olavhaasie

Change interpolation method to cubicspline for continuous velocity in subgaits
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/joint_plot.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/joint_trajectory.py
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
Owners: @Olavhaasie

Add two-step version of v9 subgait for left_swing
  ros2/src/gaits/march_gait_files/airgait_vi/walk/left_swing/MVI_walk_leftswing_v9_two_steps.subgait
Owners: @gaiavdh, @marnixbrands

Add the ik service using bio_ik to the bridge
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_subgait.py
  ros2/src/gaits/march_goniometric_ik_solver/goniometric_functions_degrees.py
  ros2/src/gaits/march_goniometric_ik_solver/ik_solver.py
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/ik_solver.py
  ros2/src/gaits/march_goniometric_ik_solver/quadrilateral_angle_solver.py
  ros2/src/gaits/march_goniometric_ik_solver/triangle_angle_solver.py
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
Owners: @gaiavdh, @marnixbrands, @Olavhaasie
