Repository Gait-Fitz/ProjectMarch, changes with the owners that CODEOWNERS names for each.
All owners: @Olavhaasie, @gaiavdh, @marnixbrands

Move ethercat folder in communication folder
  ros1/src/hardware/interface/march_hardware/CMakeLists.txt
  ros1/src/hardware/interface/march_hardware/include/march_hardware/communication/ethercat/ethercat_master.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/communication/ethercat/pdo_interface.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/communication/ethercat/pdo_map.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/communication/ethercat/pdo_types.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/communication/ethercat/sdo_interface.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/communication/ethercat/slave.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/encoder/encoder.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/march_robot.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/power/high_voltage.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/power/low_voltage.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/power/power_distribution_board.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/temperature/temperature_ges.h
  ros1/src/hardware/interface/march_hardware/src/communication/ethercat/ethercat_master.cpp
  ros1/src/hardware/interface/march_hardware/src/communication/ethercat/pdo_interface.cpp
  ros1/src/hardware/interface/march_hardware/src/communication/ethercat/pdo_map.cpp
  ros1/src/hardware/interface/march_hardware/src/communication/ethercat/sdo_interface.cpp
  ros1/src/hardware/interface/march_hardware/src/encoder/encoder.cpp
  ros1/src/hardware/interface/march_hardware/src/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/power/high_voltage.cpp
  ros1/src/hardware/interface/march_hardware/src/power/low_voltage.cpp
  ros1/src/hardware/interface/march_hardware/src/power/power_distribution_board.cpp
  ros1/src/hardware/interface/march_hardware/src/temperature/temperature_ges.cpp
  ros1/src/hardware/interface/march_hardware/test/ethercat/pdo_map_test.cpp
  ros1/src/hardware/interface/march_hardware/test/ethercat/slave_test.cpp
  ros1/src/hardware/interface/march_hardware/test/mocks/mock_imotioncube.h
  ros1/src/hardware/interface/march_hardware/test/mocks/mock_pdo_interface.h
  ros1/src/hardware/interface/march_hardware/test/mocks/mock_sdo_interface.h
  ros1/src/hardware/interface/march_hardware/test/mocks/mock_slave.h
Owners: @Olavhaasie

Move imotioncube cpp and header files to motor_controller directory
  ros1/src/hardware/interface/march_hardware/CMakeLists.txt
  ros1/src/hardware/interface/march_hardware/include/march_hardware/joint.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/actuation_mode.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_state.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_target_state.h
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube_target_state.cpp
  ros1/src/hardware/interface/march_hardware/test/imotioncube/imotioncube_test.cpp
  ros1/src/hardware/interface/march_hardware/test/mocks/mock_imotioncube.h
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/test/imc_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/joint_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Add eigen to march_acado_mpc
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/package.xml
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Owners: @Olavhaasie

Remove tolerances
  ros1/src/simulation/march_simulation/config/effort_control/march4.yaml
Owners: @gaiavdh, @marnixbrands

Update static bridge to contain balance services
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
Owners: @gaiavdh, @marnixbrands

Use fstring over format.
  ros1/src/data/march_data_collector/src/march_data_collector/cp_calculator.py
Owners: @Olavhaasie

Removing constructor and class vector
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Owners: @Olavhaasie

Removing constructor and class vector
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Owners: @Olavhaasie

Modifying getWeights() to new structure
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/simulation/march_simulation/config/model_predictive_control/march4.yaml
Owners: @Olavhaasie, @gaiavdh, @marnixbrands

Modifying the mpc msg to simplify code
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/shared/march_shared_msgs/msg/mpc_msgs/MpcTuning.msg
Owners: @Olavhaasie

Removing now unused W_temp variable
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Owners: @Olavhaasie

Improving warning message
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Owners: @Olavhaasie

Readding the constructor with the mpc class as a unique pointer
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Owners: @Olavhaasie

Add method for retrieving constraints
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Owners: @Olavhaasie

Format code with clang-format
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Owners: @Olavhaasie

Updating updateCommand and relevant functions
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Owners: @Olavhaasie

Adding temporary info stream
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Owners: @Olavhaasie

Removed dubble shift and mpc now outputs a vector
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Owners: @Olavhaasie

Tidying up the public variables and deleting once that are unnecessary
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Owners: @Olavhaasie

Formatting
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Owners: @Olavhaasie

Apply 1 suggestion(s) to 1 file(s)
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Owners: @Olavhaasie

Overwrite the controlPeriod
  ros2/src/shared/march_description/urdf/test_joint_rotational_mpc.xacro
Owners: @Olavhaasie

Adding desired_inputs vector
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Owners: @Olavhaasie

Moving the mpc diagnostics
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/shared/march_shared_msgs/msg/mpc_msgs/MpcJoint.msg
  ros1/src/shared/march_shared_msgs/msg/mpc_msgs/MpcMsg.msg
Owners: @Olavhaasie

Adding Q and R joint_sizes
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Owners: @Olavhaasie

Fixing segmentation fault
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Owners: @Olavhaasie

Updating mpc message indices
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Owners: @Olavhaasie

Small restructure of the mpc message
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Owners: @Olavhaasie

Formatting cpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Owners: @Olavhaasie

Changing warning to error in getWeights
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Owners: @Olavhaasie

Removing constructor and class vector
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Owners: @Olavhaasie

Readding the constructor with the mpc class as a unique pointer
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Owners: @Olavhaasie

Improving warning message
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Owners: @Olavhaasie

Removing now unused W_temp variable
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Owners: @Olavhaasie

Modifying the mpc msg to simplify code
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/shared/march_shared_msgs/msg/mpc_msgs/MpcTuning.msg
Owners: @Olavhaasie

Modifying getWeights() to new structure
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/simulation/march_simulation/config/airgait/model_predictive_control/march4.yaml
Owners: @Olavhaasie, @gaiavdh, @marnixbrands

Updating updateCommand and relevant functions
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Owners: @Olavhaasie

Adding temporary info stream
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Owners: @Olavhaasie

Tidying up the public variables and deleting once that are unnecessary
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Owners: @Olavhaasie

Formatting
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Owners: @Olavhaasie

CODEOWNERS:

* @Olavhaasie

*.gait @gaiavdh @marnixbrands
*.subgait @gaiavdh @marnixbrands
*.yaml @gaiavdh @marnixbrands
