Repository Gait-Fitz/ProjectMarch, changes with the owners that CODEOWNERS names for each.
All owners: @Olavhaasie, @gaiavdh, @marnixbrands

Fix bridging communication of dynamic_pid_reconfigure
  ros1/src/bridge/march_dynamic_reconfigure_parameters/CMakeLists.txt
  ros1/src/bridge/march_dynamic_reconfigure_parameters/package.xml
  ros1/src/bridge/march_dynamic_reconfigure_parameters/scripts/march_dynamic_reconfigure_parameters_node
  ros1/src/bridge/march_dynamic_reconfigure_parameters/setup.py
  ros1/src/bridge/march_dynamic_reconfigure_parameters/src/march_dynamic_reconfigure_parameters/__init__.py
  ros1/src/bridge/march_dynamic_reconfigure_parameters/src/march_dynamic_reconfigure_parameters/dynamic_reconfigure_node.py
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/msg/JointPIDs.msg
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
Owners: @Olavhaasie

Make joint names dynamic
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/gain_scheduling_node.py
  ros2/src/shared/__init__.py
Owners: @Olavhaasie

Refactor so that dynamic gait sents an update message at startup
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
Owners: @Olavhaasie

Migrate config files to ros2 config file format
  ros2/src/control/march_gain_scheduling/config/march4/groundgait.yaml
  ros2/src/control/march_gain_scheduling/config/march4/training.yaml
  ros2/src/control/march_gain_scheduling/config/march6/airgait.yaml
  ros2/src/control/march_gain_scheduling/config/march6/groundgait.yaml
  ros2/src/control/march_gain_scheduling/config/march6/training.yaml
Owners: @gaiavdh, @marnixbrands

Add TODO comments on what to do if we change to ros2 controll
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
Owners: @Olavhaasie

Change image to an lfs
  ros1/src/gaits/march_rqt_gait_generator/resource/img/march-walking.png
Owners: @Olavhaasie

Add mpc yaml config file
  ros1/src/hardware/interface/march_hardware_interface/config/model_predictive_control/test_joint_rotational.yaml
Owners: @gaiavdh, @marnixbrands

Add mpc controll for the rotational test joint
  ros1/src/hardware/interface/march_hardware_interface/config/model_predictive_control/test_joint_rotational.yaml
Owners: @gaiavdh, @marnixbrands

Add a test setup multiplot configuration
  ros2/src/visualization/multiplot_configurations/actual_desired_effort.xml
Owners: @Olavhaasie

Revert "Add a test setup multiplot configuration"
  ros2/src/visualization/multiplot_configurations/actual_desired_effort.xml
Owners: @Olavhaasie

Add test setup multiplot summary configuration
  ros2/src/visualization/multiplot_configurations/test_setup_rotational.xml
Owners: @Olavhaasie

Change the min_pos_abs and max_pos_abs of the left_knee
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Owners: @gaiavdh, @marnixbrands

Add the basis of stepping on ramps
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/ik_solver.py
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/live_widget_pyqtgraph.py
Owners: @Olavhaasie

Fix wrong type in documentation
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/one_step_linear_interpolation.py
Owners: @Olavhaasie

Port dynamic reconfigure to ros2
  ros2/src/control/march_gain_scheduling/config/march4/groundgait.yaml
  ros2/src/control/march_gain_scheduling/config/march4/training.yaml
  ros2/src/control/march_gain_scheduling/config/march6/airgait.yaml
  ros2/src/control/march_gain_scheduling/config/march6/groundgait.yaml
  ros2/src/control/march_gain_scheduling/config/march6/training.yaml
  ros2/src/control/march_gain_scheduling/launch/march_gain_scheduling.launch.py
  ros2/src/control/march_gain_scheduling/launch/march_gain_scheduling.launch.xml
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/__init__.py
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/gain_scheduling_node.py
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/one_step_linear_interpolation.py
  ros2/src/control/march_gain_scheduling/package.xml
  ros2/src/control/march_gain_scheduling/resource/march_gain_scheduling
  ros2/src/control/march_gain_scheduling/setup.cfg
  ros2/src/control/march_gain_scheduling/setup.py
Owners: @gaiavdh, @marnixbrands, @Olavhaasie

Fix bridging communication of dynamic_pid_reconfigure
  ros1/src/bridge/march_dynamic_reconfigure_parameters/CMakeLists.txt
  ros1/src/bridge/march_dynamic_reconfigure_parameters/package.xml
  ros1/src/bridge/march_dynamic_reconfigure_parameters/scripts/march_dynamic_reconfigure_parameters_node
  ros1/src/bridge/march_dynamic_reconfigure_parameters/setup.py
  ros1/src/bridge/march_dynamic_reconfigure_parameters/src/march_dynamic_reconfigure_parameters/__init__.py
  ros1/src/bridge/march_dynamic_reconfigure_parameters/src/march_dynamic_reconfigure_parameters/dynamic_reconfigure_node.py
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/msg/JointPIDs.msg
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
Owners: @Olavhaasie

Add PID message types to sent PID values over the bridge
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
  ros2/src/shared/march_shared_msgs/msg/JointPIDs.msg
  ros2/src/shared/march_shared_msgs/msg/PID.msg
Owners: @Olavhaasie

Add extensive docs to the class
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
Owners: @Olavhaasie

Add 'default' gait type
  ros2/src/control/march_gain_scheduling/config/march4/groundgait.yaml
  ros2/src/control/march_gain_scheduling/config/march4/training.yaml
  ros2/src/control/march_gain_scheduling/config/march6/airgait.yaml
  ros2/src/control/march_gain_scheduling/config/march6/groundgait.yaml
  ros2/src/control/march_gain_scheduling/config/march6/training.yaml
  ros2/src/control/march_gain_scheduling/launch/march_gain_scheduling.launch.xml
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
Owners: @gaiavdh, @marnixbrands, @Olavhaasie

Change PID values to floats
  ros1/src/shared/march_shared_msgs/msg/PID.msg
  ros2/src/control/march_gain_scheduling/install/.colcon_install_layout
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/one_step_linear_interpolation.py
  ros2/src/control/march_gain_scheduling/setup.py
  ros2/src/control/march_gain_scheduling/test/one_step_linear_interpolation_test.py
  ros2/src/shared/march_shared_msgs/msg/PID.msg
Owners: @Olavhaasie

Add a clean close down for 'ctr + c'
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/gain_scheduling_node.py
Owners: @Olavhaasie

Update ported dynamic reconfigure related topics and services
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
  ros1/src/shared/march_shared_msgs/msg/JointPIDs.msg
  ros1/src/shared/march_shared_msgs/msg/PID.msg
Owners: @gaiavdh, @marnixbrands, @Olavhaasie

Switch gain scheduling in launch files
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_launch/launch/march_headless.launch
  ros1/src/march_launch/launch/march_simulation.launch
  ros2/src/control/march_gain_scheduling/install/.colcon_install_layout
  ros2/src/march_launch/launch/march.launch.py
  ros2/src/march_launch/launch/march_simulation.launch.py
Owners: @Olavhaasie

Add temp simple node to ros1 to update the PID values calculated in ros2
  ros1/src/bridge/dynamic_reconfigure_parameters/CMakeLists.txt
  ros1/src/bridge/dynamic_reconfigure_parameters/package.xml
  ros1/src/bridge/dynamic_reconfigure_parameters/setup.py
  ros1/src/bridge/dynamic_reconfigure_parameters/src/dynamic_reconfigure_parameters/__init__.py
  ros1/src/bridge/dynamic_reconfigure_parameters/src/dynamic_reconfigure_parameters/march_dynamic_reconfigure_node.py
Owners: @Olavhaasie

Add TODO comments on what to do if we change to ros2 controll
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
Owners: @Olavhaasie

Migrate config files to ros2 config file format
  ros2/src/control/march_gain_scheduling/config/march4/groundgait.yaml
  ros2/src/control/march_gain_scheduling/config/march4/training.yaml
  ros2/src/control/march_gain_scheduling/config/march6/airgait.yaml
  ros2/src/control/march_gain_scheduling/config/march6/groundgait.yaml
  ros2/src/control/march_gain_scheduling/config/march6/training.yaml
Owners: @gaiavdh, @marnixbrands

Make joint names dynamic
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/gain_scheduling_node.py
  ros2/src/shared/__init__.py
Owners: @Olavhaasie

Refactor so that dynamic gait sents an update message at startup
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
Owners: @Olavhaasie

Delete ros1 march_gain_scheduling
  ros1/src/control/march_gain_scheduling/CMakeLists.txt
  ros1/src/control/march_gain_scheduling/config/march4/groundgait.yaml
  ros1/src/control/march_gain_scheduling/config/march4/training.yaml
  ros1/src/control/march_gain_scheduling/config/march6/airgait.yaml
  ros1/src/control/march_gain_scheduling/config/march6/groundgait.yaml
  ros1/src/control/march_gain_scheduling/config/march6/training.yaml
  ros1/src/control/march_gain_scheduling/launch/march_gain_scheduling.launch
  ros1/src/control/march_gain_scheduling/package.xml
  ros1/src/control/march_gain_scheduling/scripts/march_gain_scheduling_node
  ros1/src/control/march_gain_scheduling/setup.py
  ros1/src/control/march_gain_scheduling/src/march_gain_scheduling/__init__.py
  ros1/src/control/march_gain_scheduling/src/march_gain_scheduling/dynamic_pid_reconfigurer.py
  ros1/src/control/march_gain_scheduling/src/march_gain_scheduling/gain_scheduling_node.py
  ros1/src/control/march_gain_scheduling/src/march_gain_scheduling/interpolation_errors.py
  ros1/src/control/march_gain_scheduling/src/march_gain_scheduling/one_step_linear_interpolation.py
  ros1/src/control/march_gain_scheduling/test/one_step_linear_interpolation_test.py
Owners: @Olavhaasie, @gaiavdh, @marnixbrands

Add flake8 ignores for 'TODO' tags in comments
  .flake8
Owners: @Olavhaasie

Add documentation
  ros1/src/bridge/march_dynamic_reconfigure_parameters/setup.py
  ros1/src/bridge/march_dynamic_reconfigure_parameters/src/march_dynamic_reconfigure_parameters/dynamic_reconfigure_node.py
  ros2/src/control/march_gain_scheduling/launch/march_gain_scheduling.launch.py
  ros2/src/control/march_gain_scheduling/launch/march_gain_scheduling.launch.xml
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/gain_scheduling_node.py
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/one_step_linear_interpolation.py
  ros2/src/control/march_gain_scheduling/setup.py
  ros2/src/march_launch/launch/march.launch.py
  ros2/src/march_launch/launch/march_simulation.launch.py
Owners: @Olavhaasie

Convert everything to hip frame
  ros1/src/data/march_gravity_aligned_frame_publisher/src/march_gravity_aligned_frame_publisher/frame_publisher_node.py
  ros1/src/vision/march_foot_position_finder/include/foot_position_finder.h
  ros1/src/vision/march_foot_position_finder/src/foot_position_finder.cpp
  ros1/src/vision/march_foot_position_finder/src/point_finder.cpp
Owners: @Olavhaasie

Change serials
  ros1/src/vision/march_foot_position_finder/config/parameters.cfg
  ros1/src/vision/march_foot_position_finder/src/foot_position_finder.cpp
Owners: @Olavhaasie

Fix some spelling and phrasing mistakes
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/one_step_linear_interpolation.py
Owners: @Olavhaasie

Fix wording mistake
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/gain_scheduling_node.py
Owners: @Olavhaasie

Fix spelling and wording mistakes
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
Owners: @Olavhaasie

Change origin of start position
  ros1/src/vision/march_foot_position_finder/src/foot_position_finder.cpp
  ros2/src/shared/march_description/urdf/march6_three_cameras.xacro
Owners: @Olavhaasie

Enable single dynamic step with covid
  ros1/src/vision/march_foot_position_finder/src/foot_position_finder.cpp
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_half_step.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/position_queue.yaml
Owners: @Olavhaasie, @gaiavdh, @marnixbrands

Add point callback again
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait.py
Owners: @Olavhaasie

Update expected and desired point in ROS timer
  ros1/src/vision/march_foot_position_finder/include/foot_position_finder.h
  ros1/src/vision/march_foot_position_finder/src/foot_position_finder.cpp
Owners: @Olavhaasie

CODEOWNERS:

* @Olavhaasie

*.gait @gaiavdh @marnixbrands
*.subgait @gaiavdh @marnixbrands
*.yaml @gaiavdh @marnixbrands
