Repository Gait-Fitz/ProjectMarch, changes with the owners that CODEOWNERS names for each.
All owners: @Olavhaasie, @gaiavdh, @marnixbrands

CODEOWNERS:

* @Olavhaasie

*.gait @gaiavdh @marnixbrands
*.subgait @gaiavdh @marnixbrands
*.yaml @gaiavdh @marnixbrands

Ignore mathjax js url used to render math
  .gitlab/pipeline/documentation/docs-build-test-and-publish.yml
Owners: @Olavhaasie

Draft of gait limit setter
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_subgait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/gait/gait_parameter_limit_setter.py
Owners: @Olavhaasie

Add acceleration check to dynamic subgait class
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_joint_trajectory.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_subgait.py
  ros2/src/shared/march_utility/march_utility/exceptions/gait_exceptions.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
Owners: @Olavhaasie

Draft of limit setter
  ros2/src/shared/march_utility/march_utility/gait/gait_parameter_limit_setter.py
Owners: @Olavhaasie

Remove acceleration limit check because it does not work
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_joint_trajectory.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_subgait.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
Owners: @Olavhaasie

Write limits to yaml file
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_gait_limits.yaml
  ros2/src/shared/march_utility/march_utility/gait/gait_parameter_limit_setter.py
Owners: @gaiavdh, @marnixbrands, @Olavhaasie

Run limit setter each time parameters are updated
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection_node.py
  ros2/src/shared/march_utility/march_utility/gait/gait_parameter_limit_setter.py
Owners: @Olavhaasie

Add documentation
  ros2/src/shared/march_utility/march_utility/gait/gait_parameter_limit_setter.py
Owners: @Olavhaasie

Draft: add limit check from swing position and into stop gait
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_gait_limits.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection_node.py
  ros2/src/shared/march_utility/march_utility/gait/gait_parameter_limit_setter.py
Owners: @gaiavdh, @marnixbrands, @Olavhaasie

Add a basis for a gui launcher that reads the launch files
  launch_tool.py
Owners: @Olavhaasie

Expand live widget to plot current_pose, mid_pose and next_pose
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/ik_solver.py
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/live_widget.py
Owners: @Olavhaasie

Implement new method for solving the midpoint pose
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/ik_solver.py
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/live_widget.py
Owners: @Olavhaasie

Change midpoint for walking down
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/ik_solver.py
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/live_widget.py
Owners: @Olavhaasie

Add a play option to see a animated trajectory
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/live_widget.py
Owners: @Olavhaasie

Add walk v14 and v15 m7
  ros2/src/gaits/march_gait_files/airgait_vi/walk/left_swing/MVI_walk_leftswing_v14.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/walk/left_swing/MVI_walk_leftswing_v15.subgait
Owners: @gaiavdh, @marnixbrands

Make sure midpoint_solver uses current_step pose and increase midpoint hight to 0.15
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_subgait.py
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/ik_solver.py
Owners: @Olavhaasie

Add support for ros2 launch argument
  launch_tool.py
Owners: @Olavhaasie

Fix mid_pose bug by creating the right pose object of last_gait when calculating the end and mid_pose of current gait.
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_subgait.py
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/ik_solver.py
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/live_widget.py
Owners: @Olavhaasie

Add examples of how to start ros from python
  launch_tool.py
Owners: @Olavhaasie

Refactor grid search
  ros2/src/shared/march_utility/march_utility/gait/gait_parameter_limit_setter.py
Owners: @Olavhaasie

Add new ankle interpolation to get rid off buffer
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_subgait.py
Owners: @Olavhaasie

Change Cmakelist of acado package
  ros1/src/control/march_acado_mpc/CMakeLists.txt
Owners: @Olavhaasie

Draft of iteration over velocity
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_subgait.py
  ros2/src/shared/march_utility/march_utility/exceptions/gait_exceptions.py
Owners: @Olavhaasie

Add joint limit check to ik_solver
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_subgait.py
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/ik_solver.py
Owners: @Olavhaasie

Imrpove layout and switch to shell commands
  launch_tool.py
Owners: @Olavhaasie

Clean up code
  launch_tool.py
Owners: @Olavhaasie

Add support for launching the bridge
  launch_tool.py
Owners: @Olavhaasie

Add launch argument that allows dynamic gait to return trajectory for specified joints. Usefull for test setupt
  ros2/src/gaits/march_gait_selection/launch/gait_selection.launch.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection_node.py
  ros2/src/march_launch/launch/march.launch.py
  ros2/src/march_launch/launch/march_simulation.launch.py
  ros2/src/shared/march_utility/march_utility/exceptions/general_exceptions.py
  ros2/src/shared/march_utility/march_utility/utilities/utility_functions.py
Owners: @Olavhaasie

Add yaml file and change the ethercat grant files and change acado cmake to build the correct model
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_linear.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_rotational.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/model_predictive_control/test_joint_rotational.yaml
  ros1/src/hardware/interface/march_hardware_interface/package.xml
Owners: @Olavhaasie, @gaiavdh, @marnixbrands

Add the new model that includes friction to the Cmake
  ros1/src/control/march_acado_mpc/CMakeLists.txt
Owners: @Olavhaasie

Add working commands and multiwindow terminal using tmux
  .tmux.conf
  launch_tool.py
Owners: @Olavhaasie

Clean up code
  launch_tool.py
Owners: @Olavhaasie

Add dynamic_walk button to test setup ipd
  ros2/src/visualization/march_rqt_input_device/config/test_joint.json
Owners: @Olavhaasie

Keep terminals open after an error
  launch_tool.py
Owners: @Olavhaasie

Add live visualization of exo in widget tool
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/live_widget_node.py
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/live_widget_pyqtgraph.py
  ros2/src/gaits/march_goniometric_ik_solver/setup.py
Owners: @Olavhaasie

Fix that the tool does not freeze when no messages are published
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/live_widget_pyqtgraph.py
Owners: @Olavhaasie

Port dynamic reconfigure to ros2
  ros2/src/control/march_gain_scheduling/config/march4/groundgait.yaml
  ros2/src/control/march_gain_scheduling/config/march4/training.yaml
  ros2/src/control/march_gain_scheduling/config/march6/airgait.yaml
  ros2/src/control/march_gain_scheduling/config/march6/groundgait.yaml
  ros2/src/control/march_gain_scheduling/config/march6/training.yaml
  ros2/src/control/march_gain_scheduling/launch/march_gain_scheduling.launch.py
  ros2/src/control/march_gain_scheduling/launch/march_gain_scheduling.launch.xml
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/__init__.py
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/gain_scheduling_node.py
  ros2/src/control/march_gain_scheduling/march_gain_scheduling/one_step_linear_interpolation.py
  ros2/src/control/march_gain_scheduling/package.xml
  ros2/src/control/march_gain_scheduling/resource/march_gain_scheduling
  ros2/src/control/march_gain_scheduling/setup.cfg
  ros2/src/control/march_gain_scheduling/setup.py
Owners: @gaiavdh, @marnixbrands, @Olavhaasie

Add PID message types to sent PID values over the bridge
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
  ros2/src/shared/march_shared_msgs/msg/JointPIDs.msg
  ros2/src/shared/march_shared_msgs/msg/PID.msg
Owners: @Olavhaasie

Update ported dynamic reconfigure related topics and services
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
  ros1/src/shared/march_shared_msgs/msg/JointPIDs.msg
  ros1/src/shared/march_shared_msgs/msg/PID.msg
Owners: @gaiavdh, @marnixbrands, @Olavhaasie

Add temp simple node to ros1 to update the PID values calculated in ros2
  ros1/src/bridge/dynamic_reconfigure_parameters/CMakeLists.txt
  ros1/src/bridge/dynamic_reconfigure_parameters/package.xml
  ros1/src/bridge/dynamic_reconfigure_parameters/setup.py
  ros1/src/bridge/dynamic_reconfigure_parameters/src/dynamic_reconfigure_parameters/__init__.py
  ros1/src/bridge/dynamic_reconfigure_parameters/src/dynamic_reconfigure_parameters/march_dynamic_reconfigure_node.py
Owners: @Olavhaasie
