Repository Gait-Fitz/ProjectMarch, changes with the owners that CODEOWNERS names for each.
All owners: @Olavhaasie, @gaiavdh, @marnixbrands

CODEOWNERS:

* @Olavhaasie

*.gait @gaiavdh @marnixbrands
*.subgait @gaiavdh @marnixbrands
*.yaml @gaiavdh @marnixbrands

Change IPD device file to /dev/input-device
  ros1/src/march_launch/launch/serial_connection.launch
Owners: @Olavhaasie

Remove commented lines
  ros2/src/visualization/march_mpc_visualization/README.md
Owners: @Olavhaasie

Update README mpc visualization
  ros2/src/visualization/march_mpc_visualization/README.md
Owners: @Olavhaasie

Add curb down to services
  ros1/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
  ros2/src/shared/march_shared_msgs/srv/GetGaitParameters.srv
Owners: @Olavhaasie

Remove debug message
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Owners: @Olavhaasie

Undo gait changes
  ros2/src/gaits/march_gait_files/airgait_vi/default.yaml
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_gaits.yaml
Owners: @gaiavdh, @marnixbrands

Remove gait file changes from this branch
  ros2/src/gaits/march_gait_files/airgait_vi/curb_down/left_close/MVI_curbdown_leftclose_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_down/left_close/MVI_curbdown_leftclose_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_down/left_close/MVI_curbdown_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_down/right_open/MVI_curbdown_rightopen_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_down/right_open/MVI_curbdown_rightopen_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_down/right_open/MVI_curbdown_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_up/left_close/MVI_curbup_leftclose_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_up/left_close/MVI_curbup_leftclose_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_up/left_close/MVI_curbup_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_up/right_open/MVI_curbup_rightopen_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_up/right_open/MVI_curbup_rightopen_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_up/right_open/MVI_curbup_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/left_close/MVI_curbdown_leftclose_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/left_close/MVI_curbdown_leftclose_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/left_close/MVI_curbdown_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/realsense_curb_down.gait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/right_open/MVI_curbdown_rightopen_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/right_open/MVI_curbdown_rightopen_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/right_open/MVI_curbdown_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/left_close/MVI_curbup_leftclose_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/left_close/MVI_curbup_leftclose_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/left_close/MVI_curbup_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/realsense_curb_up.gait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/right_open/MVI_curbup_rightopen_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/right_open/MVI_curbup_rightopen_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/right_open/MVI_curbup_rightopen_v3.subgait
Owners: @gaiavdh, @marnixbrands

Add v3 and high and low of curb up and down
  ros1/src/realsense_config_20-8
  ros2/src/gaits/march_gait_files/airgait_vi/curb_down/left_close/MVI_curbdown_leftclose_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_down/left_close/MVI_curbdown_leftclose_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_down/left_close/MVI_curbdown_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_down/right_open/MVI_curbdown_rightopen_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_down/right_open/MVI_curbdown_rightopen_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_down/right_open/MVI_curbdown_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_up/left_close/MVI_curbup_leftclose_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_up/left_close/MVI_curbup_leftclose_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_up/left_close/MVI_curbup_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_up/right_open/MVI_curbup_rightopen_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_up/right_open/MVI_curbup_rightopen_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/curb_up/right_open/MVI_curbup_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/left_close/MVI_curbdown_leftclose_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/left_close/MVI_curbdown_leftclose_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/left_close/MVI_curbdown_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/realsense_curb_down.gait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/right_open/MVI_curbdown_rightopen_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/right_open/MVI_curbdown_rightopen_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_down/right_open/MVI_curbdown_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/left_close/MVI_curbup_leftclose_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/left_close/MVI_curbup_leftclose_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/left_close/MVI_curbup_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/realsense_curb_up.gait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/right_open/MVI_curbup_rightopen_high.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/right_open/MVI_curbup_rightopen_low.subgait
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_curb_up/right_open/MVI_curbup_rightopen_v3.subgait
Owners: @Olavhaasie, @gaiavdh, @marnixbrands

Add some slower testjoint gaits
  ros2/src/gaits/march_gait_files/test_joint_rotational_gaits/test_joint_gait/perform_test/perform_test_v6.subgait
  ros2/src/gaits/march_gait_files/test_joint_rotational_gaits/test_joint_gait/perform_test/perform_test_v7.subgait
  ros2/src/gaits/march_gait_files/test_joint_rotational_gaits/test_joint_gait_continuous/perform_test/perform_test_v6.subgait
  ros2/src/gaits/march_gait_files/test_joint_rotational_gaits/test_joint_gait_continuous/perform_test/perform_test_v7.subgait
  ros2/src/gaits/march_gait_files/test_joint_rotational_gaits/test_joint_gait_continuous/wait_test/wait_test_v6.subgait
  ros2/src/gaits/march_gait_files/test_joint_rotational_gaits/test_joint_gait_continuous/wait_test/wait_test_v7.subgait
Owners: @gaiavdh, @marnixbrands

Fix the same typo else where
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Owners: @Olavhaasie

Fix typo
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Owners: @Olavhaasie

Remove redundant code
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Owners: @Olavhaasie

Format cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Owners: @Olavhaasie

Fix unconvertable md syntax for mpc visualization
  ros2/src/visualization/march_mpc_visualization/README.md
Owners: @Olavhaasie

Improve debug output
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Owners: @Olavhaasie

Add the realsense curb gait to the realsense yaml and the ipd
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_gaits.yaml
  ros2/src/visualization/march_rqt_input_device/config/default.json
Owners: @gaiavdh, @marnixbrands, @Olavhaasie

Fix clang
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Owners: @Olavhaasie

Update realsense parameters after training 20-8
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
Owners: @Olavhaasie

Update .yaml files
  ros2/src/gaits/march_gait_files/airgait_vi/default.yaml
  ros2/src/gaits/march_gait_files/airgait_vi/realsense_gaits.yaml
Owners: @gaiavdh, @marnixbrands

Format cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Owners: @Olavhaasie

Improve docs for mpc_visualization package
  ros2/src/visualization/march_mpc_visualization/README.md
Owners: @Olavhaasie

Fix curb down bugs
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/utilities/realsense_category_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Owners: @Olavhaasie

Fix merge conflict
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/gait_version_tool_view.py
Owners: @Olavhaasie

Set walk default to v10
  ros2/src/gaits/march_gait_files/airgait_vi/default.yaml
Owners: @gaiavdh, @marnixbrands

Lower knee max velocity and lower soft limit
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Owners: @gaiavdh, @marnixbrands

Formatting code and removing the frf plotting
  ros1/src/control/march_system_identification/setup.py
  ros1/src/control/march_system_identification/src/march_system_identification/frequency_response_analysis
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Applying clang-tidy suggestion
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Add 'outdated' tag to pressure sole documentation
  docs/doc/using_the_march_exoskeleton/using_the_pressure_soles.rst
Owners: @Olavhaasie

Change the yaml to slower v8 and v5 gaits
  ros2/src/gaits/march_gait_files/airgait_vi/default.yaml
Owners: @gaiavdh, @marnixbrands

Add blblblba feature
  ros1/src/blbalb.py
Owners: @Olavhaasie

Add calculation to bla
  ros1/src/blbalb.py
Owners: @Olavhaasie

Fix styling of blabbla
  ros1/src/blbalb.py
Owners: @Olavhaasie

Add the m7 urdf and the config package created with setup assistant in moveit1
  ros2/src/moveit2/march_moveit2_config/.setup_assistant
  ros2/src/moveit2/march_moveit2_config/CMakeLists.txt
  ros2/src/moveit2/march_moveit2_config/config/cartesian_limits.yaml
  ros2/src/moveit2/march_moveit2_config/config/chomp_planning.yaml
  ros2/src/moveit2/march_moveit2_config/config/fake_controllers.yaml
  ros2/src/moveit2/march_moveit2_config/config/joint_limits.yaml
  ros2/src/moveit2/march_moveit2_config/config/kinematics.yaml
  ros2/src/moveit2/march_moveit2_config/config/ompl_planning.yaml
  ros2/src/moveit2/march_moveit2_config/config/ros_controllers.yaml
  ros2/src/moveit2/march_moveit2_config/config/sensors_3d.yaml
  ros2/src/moveit2/march_moveit2_config/config/test_robot.srdf
  ros2/src/moveit2/march_moveit2_config/launch/chomp_planning_pipeline.launch.xml
  ros2/src/moveit2/march_moveit2_config/launch/default_warehouse_db.launch
  ros2/src/moveit2/march_moveit2_config/launch/demo.launch
  ros2/src/moveit2/march_moveit2_config/launch/demo_gazebo.launch
  ros2/src/moveit2/march_moveit2_config/launch/fake_moveit_controller_manager.launch.xml
  ros2/src/moveit2/march_moveit2_config/launch/gazebo.launch
  ros2/src/moveit2/march_moveit2_config/launch/joystick_control.launch
  ros2/src/moveit2/march_moveit2_config/launch/move_group.launch
  ros2/src/moveit2/march_moveit2_config/launch/moveit.rviz
  ros2/src/moveit2/march_moveit2_config/launch/moveit_rviz.launch
  ros2/src/moveit2/march_moveit2_config/launch/ompl_planning_pipeline.launch.xml
  ros2/src/moveit2/march_moveit2_config/launch/pilz_industrial_motion_planner_planning_pipeline.launch.xml
  ros2/src/moveit2/march_moveit2_config/launch/planning_context.launch
  ros2/src/moveit2/march_moveit2_config/launch/planning_pipeline.launch.xml
  ros2/src/moveit2/march_moveit2_config/launch/ros_controllers.launch
  ros2/src/moveit2/march_moveit2_config/launch/run_benchmark_ompl.launch
  ros2/src/moveit2/march_moveit2_config/launch/sensor_manager.launch.xml
  ros2/src/moveit2/march_moveit2_config/launch/setup_assistant.launch
  ros2/src/moveit2/march_moveit2_config/launch/test_robot_moveit_controller_manager.launch.xml
  ros2/src/moveit2/march_moveit2_config/launch/test_robot_moveit_sensor_manager.launch.xml
  ros2/src/moveit2/march_moveit2_config/launch/trajectory_execution.launch.xml
  ros2/src/moveit2/march_moveit2_config/launch/warehouse.launch
  ros2/src/moveit2/march_moveit2_config/launch/warehouse_settings.launch.xml
  ros2/src/moveit2/march_moveit2_config/package.xml
  ros2/src/shared/march_description/urdf/march7.urdf
Owners: @Olavhaasie, @gaiavdh, @marnixbrands

Weird march-walking.png lfs untracked problems fix
  ros1/src/gaits/march_rqt_gait_generator/resource/img/march-walking.png
Owners: @Olavhaasie

Add git enviroment for docs review
  .gitlab/pipeline/documentation/build-test-and-publish.yml
Owners: @Olavhaasie

draft:Commit doc pipeline restrictions
  .gitlab/pipeline/documentation/build.yml
Owners: @Olavhaasie

Change the mass of every bone of the exo to 77 kg
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Owners: @gaiavdh, @marnixbrands

Convert package created with moveit setup manager to a ROS2 package
  ros2/src/moveit2/march_moveit2_config/CMakeLists.txt
  ros2/src/moveit2/march_moveit2_config/launch/demo.launch.py
  ros2/src/moveit2/march_moveit2_config/launch/march_moveit_config_demo_empty.rviz
  ros2/src/moveit2/march_moveit2_config/package.xml
Owners: @Olavhaasie

Create a moveit demo package in ROS2 for the march3 urdf
  ros2/src/moveit2/march3_moveit2_config/.setup_assistant
  ros2/src/moveit2/march3_moveit2_config/CMakeLists.txt
  ros2/src/moveit2/march3_moveit2_config/config/cartesian_limits.yaml
  ros2/src/moveit2/march3_moveit2_config/config/chomp_planning.yaml
  ros2/src/moveit2/march3_moveit2_config/config/fake_controllers.yaml
  ros2/src/moveit2/march3_moveit2_config/config/joint_limits.yaml
  ros2/src/moveit2/march3_moveit2_config/config/kinematics.yaml
  ros2/src/moveit2/march3_moveit2_config/config/march.srdf
  ros2/src/moveit2/march3_moveit2_config/config/march3.xacro
  ros2/src/moveit2/march3_moveit2_config/config/ompl_planning.yaml
  ros2/src/moveit2/march3_moveit2_config/config/ros_controllers.yaml
  ros2/src/moveit2/march3_moveit2_config/config/sensors_3d.yaml
  ros2/src/moveit2/march3_moveit2_config/launch/chomp_planning_pipeline.launch.xml
  ros2/src/moveit2/march3_moveit2_config/launch/default_warehouse_db.launch
  ros2/src/moveit2/march3_moveit2_config/launch/demo.launch
  ros2/src/moveit2/march3_moveit2_config/launch/demo.launch.py
  ros2/src/moveit2/march3_moveit2_config/launch/demo_gazebo.launch
  ros2/src/moveit2/march3_moveit2_config/launch/fake_moveit_controller_manager.launch.xml
  ros2/src/moveit2/march3_moveit2_config/launch/gazebo.launch
  ros2/src/moveit2/march3_moveit2_config/launch/joystick_control.launch
  ros2/src/moveit2/march3_moveit2_config/launch/march3_moveit_config_demo_MP.rviz
  ros2/src/moveit2/march3_moveit2_config/launch/march_moveit_config_demo_empty.rviz
  ros2/src/moveit2/march3_moveit2_config/launch/march_moveit_controller_manager.launch.xml
  ros2/src/moveit2/march3_moveit2_config/launch/march_moveit_sensor_manager.launch.xml
  ros2/src/moveit2/march3_moveit2_config/launch/move_group.launch
  ros2/src/moveit2/march3_moveit2_config/launch/moveit.rviz
  ros2/src/moveit2/march3_moveit2_config/launch/moveit_rviz.launch
  ros2/src/moveit2/march3_moveit2_config/launch/ompl_planning_pipeline.launch.xml
  ros2/src/moveit2/march3_moveit2_config/launch/pilz_industrial_motion_planner_planning_pipeline.launch.xml
  ros2/src/moveit2/march3_moveit2_config/launch/planning_context.launch
  ros2/src/moveit2/march3_moveit2_config/launch/planning_pipeline.launch.xml
  ros2/src/moveit2/march3_moveit2_config/launch/ros_controllers.launch
  ros2/src/moveit2/march3_moveit2_config/launch/run_benchmark_ompl.launch
  ros2/src/moveit2/march3_moveit2_config/launch/sensor_manager.launch.xml
  ros2/src/moveit2/march3_moveit2_config/launch/setup_assistant.launch
  ros2/src/moveit2/march3_moveit2_config/launch/trajectory_execution.launch.xml
  ros2/src/moveit2/march3_moveit2_config/launch/warehouse.launch
  ros2/src/moveit2/march3_moveit2_config/launch/warehouse_settings.launch.xml
  ros2/src/moveit2/march3_moveit2_config/package.xml
  ros2/src/shared/march_description/urdf/march3.urdf
Owners: @Olavhaasie, @gaiavdh, @marnixbrands

Add some documentation about porting MoveIt demo package to ROS2
  ros2/src/moveit2/march3_moveit2_config/README.MD
Owners: @Olavhaasie
