Repository Gait-Fitz/ProjectMarch, changes with the owners that CODEOWNERS names for each.
All owners: @Olavhaasie, @gaiavdh, @marnixbrands

Format code
  ros2/src/gaits/march_gait_selection/setup.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
Owners: @Olavhaasie

Clean up mr
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
Owners: @Olavhaasie

Reduce duplication in setup file
  ros2/src/gaits/march_gait_selection/setup.py
Owners: @Olavhaasie

Format code
  ros2/src/gaits/march_gait_selection/setup.py
Owners: @Olavhaasie

Start with update to gait version tool
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/gait_version_tool_view.py
Owners: @Olavhaasie

Fix gait version tool and improve errors
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/gait_version_tool_view.py
Owners: @Olavhaasie

Use traceback in the rqt_gait_version_tool
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/gait_version_tool_view.py
Owners: @Olavhaasie

Format code
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/gait_version_tool_view.py
Owners: @Olavhaasie

Fix traceback and python style
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/setup.py
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/gait_version_tool_view.py
  ros2/src/visualization/march_rqt_gait_version_tool/setup.py
Owners: @Olavhaasie

Make walk single step read from walk
  ros2/src/gaits/march_gait_files/test_versions_vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions_vi/walk_single_step/left_close/MVI_walksinglestep_leftclose_high_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk_single_step/left_close/MVI_walksinglestep_leftclose_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk_single_step/left_close/MVI_walksinglestep_leftclose_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk_single_step/left_close/MVI_walksinglestep_leftclose_v6.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk_single_step/left_close/MVI_walksinglestep_leftclose_v7.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk_single_step/left_close/MVI_walksinglestep_leftclose_v8.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk_single_step/right_open/MVI_walksinglestep_rightopen_high_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk_single_step/right_open/MVI_walksinglestep_rightopen_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk_single_step/right_open/MVI_walksinglestep_rightopen_v4.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk_single_step/right_open/MVI_walksinglestep_rightopen_v6.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk_single_step/right_open/MVI_walksinglestep_rightopen_v7.subgait
  ros2/src/gaits/march_gait_files/test_versions_vi/walk_single_step/right_open/MVI_walksinglestep_rightopen_v8.subgait
Owners: @gaiavdh, @marnixbrands

Fix version names
  ros2/src/gaits/march_gait_files/test_versions_vi/default.yaml
Owners: @gaiavdh, @marnixbrands

Add debug
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/gait_version_tool_view.py
Owners: @Olavhaasie

Run black
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/gait_version_tool_view.py
Owners: @Olavhaasie

Add more debug
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/gait_version_tool_view.py
Owners: @Olavhaasie

Add gait path to read from map to rqt input
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/gait_version_tool_controller.py
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/gait_version_tool_view.py
Owners: @Olavhaasie

Fix using gait to read from
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/gait_version_tool_view.py
Owners: @Olavhaasie

Use multiple controller managers
  ros1/src/march_launch/scripts/spawn_all_controllers.py
Owners: @Olavhaasie

Read parameters using node handle
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/simulation/march_simulation/config/airgait/mixed_control/march6.yaml
Owners: @Olavhaasie, @gaiavdh, @marnixbrands

Make changes for hardware usage
  ros1/src/hardware/interface/march_hardware_interface/launch/hardware.launch
  ros1/src/march_launch/scripts/spawn_all_controllers.py
Owners: @Olavhaasie

IVI changes
  ros1/src/hardware/interface/march_hardware_builder/robots/march4.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/effort_control/march4.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/mixed_control/march6.yaml
Owners: @gaiavdh, @marnixbrands

Ankle pid tuning for airgait
  ros1/src/hardware/interface/march_hardware_interface/config/march6_mixed/controllers.yaml
Owners: @gaiavdh, @marnixbrands

Tuning
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
Owners: @Olavhaasie

Undo mistake
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Format cpp
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Add seperate reset method for MotorControllers
  ros1/src/hardware/interface/march_hardware/include/march_hardware/ethercat/slave.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/src/march_robot.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/motor_controller.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware/test/joint_test.cpp
  ros1/src/hardware/interface/march_hardware/test/mocks/mock_imotioncube.h
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Fix segmentation faults
  ros1/src/hardware/interface/march_hardware/include/march_hardware/joint.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Reset odrive errors when starting up
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive_state.h
  ros1/src/hardware/interface/march_hardware/src/motor_controller/motor_controller.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Use new index search method
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive_state.h
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
Owners: @Olavhaasie

Fix clang-tidy
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Pass function by const reference
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Refactor start up sequence
  ros1/src/hardware/interface/march_hardware/test/joint_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/joint_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Add dataIsValid() method to MotorControllerState
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_state.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller_state.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive_state.h
  ros1/src/hardware/interface/march_hardware/test/mocks/mock_motorcontroller_state.h
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Format cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Remove allowActuation from joint
  ros1/src/hardware/interface/march_hardware/include/march_hardware/joint.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_state.h
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/test/joint_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/robots/march3.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/march4.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_linear.yaml
  ros1/src/hardware/interface/march_hardware_builder/robots/test_joint_rotational.yaml
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/joint_builder_test.cpp
  ros1/src/hardware/interface/march_hardware_builder/test/yaml/joint/joint_correct.yaml
  ros1/src/hardware/interface/march_hardware_builder/test/yaml/joint/joint_correct_not_actuated.yaml
  ros1/src/hardware/interface/march_hardware_builder/test/yaml/joint/joint_correct_position_mode.yaml
  ros1/src/hardware/interface/march_hardware_builder/test/yaml/joint/joint_no_imotioncube.yaml
  ros1/src/hardware/interface/march_hardware_builder/test/yaml/joint/joint_no_temperature_ges.yaml
  ros1/src/hardware/interface/march_hardware_builder/test/yaml/joint/joint_only_actuate.yaml
  ros1/src/hardware/interface/march_hardware_builder/test/yaml/motor_controller/test_joint_rotational.yaml
  ros1/src/hardware/interface/march_hardware_builder/test/yaml/motor_controller/test_joint_rotational_remove_fixed_joints.yaml
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie, @gaiavdh, @marnixbrands

Reduce code duplication
  ros1/src/hardware/interface/march_hardware/include/march_hardware/error/error_type.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/march_robot.h
  ros1/src/hardware/interface/march_hardware/src/error/error_type.cpp
  ros1/src/hardware/interface/march_hardware/src/march_robot.cpp
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Add comment
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Remove a line of code
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

First setup for creating a system identification toolbox package
  ros1/src/control/march_system_identification/CMakeLists.txt
  ros1/src/control/march_system_identification/launch/system_identification.launch
  ros1/src/control/march_system_identification/package.xml
  ros1/src/control/march_system_identification/scripts/march_system_identification
  ros1/src/control/march_system_identification/setup.py
  ros1/src/control/march_system_identification/src/march_system_identification/__init__.py
  ros1/src/control/march_system_identification/src/march_system_identification/frf_agwn.py
  ros1/src/control/march_system_identification/src/march_system_identification/system_identification_node.py
Owners: @Olavhaasie

Fix gait version tool
  ros2/src/gaits/march_gait_files/test_versions_vi/default.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/dynamic_edge_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/setup.py
  ros2/src/shared/march_utility/march_utility/gait/gait.py
  ros2/src/visualization/march_rqt_gait_version_tool/march_rqt_gait_version_tool/gait_version_tool_view.py
Owners: @gaiavdh, @marnixbrands, @Olavhaasie

Also update overloading method
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/setpoints_gait.py
Owners: @Olavhaasie

CODEOWNERS:

* @Olavhaasie

*.gait @gaiavdh @marnixbrands
*.subgait @gaiavdh @marnixbrands
*.yaml @gaiavdh @marnixbrands
