Repository Gait-Fitz/ProjectMarch, changes with the owners that CODEOWNERS names for each.
All owners: @Olavhaasie, @gaiavdh, @marnixbrands

CODEOWNERS:

* @Olavhaasie

*.gait @gaiavdh @marnixbrands
*.subgait @gaiavdh @marnixbrands
*.yaml @gaiavdh @marnixbrands

Add the documentation about creating a URDF with use of blender
  docs/doc/development/images/blender_with_phobos.png
  docs/doc/development/urdf_with_blender.rst
  docs/index.rst
Owners: @Olavhaasie

Add reset point functionality for when the exoskeleton is in a stationary state
  ros1/src/vision/march_foot_position_finder/include/foot_position_finder.h
  ros1/src/vision/march_foot_position_finder/src/foot_position_finder.cpp
Owners: @Olavhaasie

Add callback for continuous desired point reset and fix redundant timestamp bug in gravity aligner
  ros1/src/data/march_gravity_aligned_frame_publisher/src/march_gravity_aligned_frame_publisher/frame_publisher_node.py
  ros1/src/vision/march_foot_position_finder/include/foot_position_finder.h
  ros1/src/vision/march_foot_position_finder/src/foot_position_finder.cpp
Owners: @Olavhaasie

Refactor covid code with new utility files
  ros1/src/vision/march_foot_position_finder/include/foot_position_finder.h
  ros1/src/vision/march_foot_position_finder/include/utilities/publish_utilities.hpp
  ros1/src/vision/march_foot_position_finder/include/utilities/realsense_to_pcl.hpp
  ros1/src/vision/march_foot_position_finder/include/utilities/realsense_utilities.hpp
  ros1/src/vision/march_foot_position_finder/include/utilities/transform_utilities.hpp
  ros1/src/vision/march_foot_position_finder/src/foot_position_finder.cpp
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_single_step.py
Owners: @Olavhaasie

Turn on chosen point callback
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait.py
Owners: @Olavhaasie

Send point heights in hip frame
  ros1/src/vision/march_foot_position_finder/src/foot_position_finder.cpp
Owners: @Olavhaasie

Initialize initial height in reset point function
  ros1/src/vision/march_foot_position_finder/src/foot_position_finder.cpp
Owners: @Olavhaasie

Add a diagnostic state
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Add exception catch in validate
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Fix syntax mistake
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Multiplot configuration haa tuning
  ros2/src/visualization/multiplot_configurations/control_haa_tuning.xml
Owners: @Olavhaasie

Add hfe offset
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_subgait.py
Owners: @Olavhaasie

Make the tuning less unstable!
  ros1/src/control/march_gain_scheduling/config/march6/training.yaml
Owners: @gaiavdh, @marnixbrands

Create 'step and hold' gait
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step_and_hold.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/visualization/march_rqt_input_device/config/training.json
Owners: @Olavhaasie

Inherit from step and close instead of step
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step_and_hold.py
  ros2/src/shared/march_utility/march_utility/exceptions/gait_exceptions.py
Owners: @Olavhaasie

Add position queue and adjust hold position
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step_and_hold.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_subgait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection_node.py
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/ik_solver.py
Owners: @Olavhaasie

Remove hip aa movement
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step_and_hold.py
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/ik_solver.py
Owners: @Olavhaasie

Update min and max position right_hip_aa
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Owners: @gaiavdh, @marnixbrands

Change hard limits of right_hip_aa
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Owners: @gaiavdh, @marnixbrands

Uncomment hip AAs
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Owners: @gaiavdh, @marnixbrands

Improve gait, no longer moves a bit at the end
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step_and_hold.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_subgait.py
  ros2/src/gaits/march_goniometric_ik_solver/march_goniometric_ik_solver/ik_solver.py
Owners: @Olavhaasie

Fix broken add_to_queue function and clarify logger names
  ros2/src/gaits/march_gait_selection/config/position_queue.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step_and_close.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step_and_hold.py
Owners: @gaiavdh, @marnixbrands, @Olavhaasie

Add topic to change start side of step and hold gait
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_setpoint_gait_step_and_hold.py
Owners: @Olavhaasie

Fix bug in which stop gait used covid location for middle point
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation/dynamic_subgait.py
Owners: @Olavhaasie

Create an EEG Node
  requirements.txt
  ros2/src/hardware/march_eeg/config/Cref.csv
  ros2/src/hardware/march_eeg/config/LDAmodel.pkl
  ros2/src/hardware/march_eeg/config/feature_select_coefs.csv
  ros2/src/hardware/march_eeg/config/manual_scaled_weights.csv
  ros2/src/hardware/march_eeg/march_eeg/__init__.py
  ros2/src/hardware/march_eeg/march_eeg/eeg.py
  ros2/src/hardware/march_eeg/march_eeg/eeg_node.py
  ros2/src/hardware/march_eeg/march_eeg/eeg_utility.py
  ros2/src/hardware/march_eeg/march_eeg/headset.py
  ros2/src/hardware/march_eeg/package.xml
  ros2/src/hardware/march_eeg/resource/march_eeg
  ros2/src/hardware/march_eeg/setup.cfg
  ros2/src/hardware/march_eeg/setup.py
Owners: @Olavhaasie

Update gait files and subgait files for the testsetup
  ros2/src/gaits/march_gait_files/CMakeLists.txt
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/hold_several_positions/hold_position/sweep_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/hold_several_positions/hold_position_0/hold_position_0_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/hold_several_positions/hold_position_1/hold_position_1_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/hold_several_positions/hold_position_2/hold_position_2_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/hold_several_positions/hold_position_3/hold_position_3_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/hold_several_positions/hold_position_4/hold_position_4_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/hold_several_positions/hold_position_5/hold_position_5_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/hold_several_positions/hold_position_6/hold_position_6_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/hold_several_positions/hold_several_positions.gait
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/hold_several_positions/move_to_position/sweep_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/hold_several_positions/move_to_position_0/move_to_position_0_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/hold_several_positions/move_to_position_1/move_to_position_1_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/hold_several_positions/move_to_position_2/move_to_position_2_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/hold_several_positions/move_to_position_3/move_to_position_3_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/hold_several_positions/move_to_position_4/move_to_position_4_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/hold_several_positions/move_to_position_5/move_to_position_5_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/hold_several_positions/move_to_position_6/move_to_position_6_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/hold_several_positions/move_to_position_7/move_to_position_7_v0.subgait
  ros2/src/visualization/march_rqt_input_device/config/test_joint.json
Owners: @Olavhaasie, @gaiavdh, @marnixbrands

Add yaml file for linear joint in simulation
  ros1/src/simulation/march_simulation/config/airgait/effort_control/test_joint_linear.yaml
Owners: @gaiavdh, @marnixbrands

Update rotational gaits: subgait renaming and moving, gait file name consistency
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/hold_position_0/hold_position_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/hold_position_1/hold_position_v1.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/hold_position_2/hold_position_v2.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/hold_position_3/hold_position_v3.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/hold_position_4/hold_position_v4.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/hold_position_5/hold_position_v5.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/hold_position_6/hold_position_v6.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/hold_several_positions.gait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/move_to_position_0/move_to_position_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/move_to_position_1/move_to_position_v1.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/move_to_position_2/move_to_position_v2.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/move_to_position_3/move_to_position_v3.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/move_to_position_4/move_to_position_v4.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/move_to_position_5/move_to_position_v5.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/move_to_position_6/move_to_position_v6.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/move_up_down_continuous/move_up_down_continuous.gait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/sweep_gait/sweep_gait.gait
Owners: @gaiavdh, @marnixbrands

Update the gait files with the correct names
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/default.yaml
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/hold_several_positions/hold_several_positions.gait
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/move_front_back/move_front_back.gait
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/move_front_back_continuous/move_front_back_continuous.gait
  ros2/src/gaits/march_gait_files/M7_test_joint_linear_ros_gaits/sweep_gait/sweep_gait.gait
Owners: @gaiavdh, @marnixbrands

Add json file for the buttons in the IPD
  ros2/src/visualization/march_rqt_input_device/config/test_joint.json
Owners: @Olavhaasie

Restore CMakeLists with added M7 gait file folders
  ros2/src/gaits/march_gait_files/CMakeLists.txt
Owners: @Olavhaasie

Rename subgait files of rotational joint for the gait hold_several_positions
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/hold_position_0/hold_position_0_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/hold_position_1/hold_position_1_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/hold_position_2/hold_position_2_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/hold_position_3/hold_position_3_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/hold_position_4/hold_position_4_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/hold_position_5/hold_position_5_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/hold_position_6/hold_position_6_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/move_to_position_0/move_to_position_0_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/move_to_position_1/move_to_position_1_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/move_to_position_2/move_to_position_2_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/move_to_position_3/move_to_position_3_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/move_to_position_4/move_to_position_4_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/move_to_position_5/move_to_position_5_v0.subgait
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/hold_several_positions/move_to_position_6/move_to_position_6_v0.subgait
Owners: @gaiavdh, @marnixbrands

Add sweepgait and hold_several_positions_gait into the default yaml of the M7 folder for the rotational joint gaits
  ros2/src/gaits/march_gait_files/M7_test_joint_rotational_ros_gaits/default.yaml
Owners: @gaiavdh, @marnixbrands

Comment haa
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Owners: @gaiavdh, @marnixbrands

Set the min and max encoder values of the right ankle
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Owners: @gaiavdh, @marnixbrands

Add a warning if the max_effort is exceded for more then half a second
  ros1/src/hardware/interface/march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Owners: @Olavhaasie

Update right ankle joint values with flipped values
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Owners: @gaiavdh, @marnixbrands

Fix yaml file
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Owners: @gaiavdh, @marnixbrands

Switch zero pos of right ankle
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Owners: @gaiavdh, @marnixbrands

Set new right ankle limits and autobuild three_cameras urdf
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros2/src/shared/march_description/CMakeLists.txt
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Owners: @gaiavdh, @marnixbrands, @Olavhaasie
