Repository Gait-Fitz/ProjectMarch, changes with the owners that CODEOWNERS names for each.
All owners: @Olavhaasie, @gaiavdh, @marnixbrands

CODEOWNERS:

* @Olavhaasie

*.gait @gaiavdh @marnixbrands
*.subgait @gaiavdh @marnixbrands
*.yaml @gaiavdh @marnixbrands

Remove unused modules
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
Owners: @Olavhaasie

Format code
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_node.py
Owners: @Olavhaasie

Nanosec conversion into constant
  ros2/src/visualization/march_mpc_visualization/march_mpc_visualization/mpc_visualization_listener.py
Owners: @Olavhaasie

Try cProfile on march_gait_selection
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection_node.py
Owners: @Olavhaasie

Enable cProfile in march_robot_information
  ros2/src/shared/march_robot_information/march_robot_information/robot_information_node.py
Owners: @Olavhaasie

Add cProfiler to other Python parts of the code base
  ros1/src/bridge/march_parameter_server/src/march_parameter_server/parameter_server_node.py
  ros1/src/control/march_gain_scheduling/src/march_gain_scheduling/gain_scheduling_node.py
  ros1/src/data/march_data_collector/src/march_data_collector/data_collector_node.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/updater.py
Owners: @Olavhaasie

Compile ROS1 C++ code with profiling information
  ros1/src/balance/march_moveit/launch/gazebo.launch
  ros1/src/balance/march_moveit/launch/joystick_control.launch
  ros1/src/balance/march_moveit/launch/moveit_rviz.launch
  ros1/src/balance/march_moveit/launch/ros_controllers.launch
  ros1/src/balance/march_moveit/launch/setup_assistant.launch
  ros1/src/balance/march_moveit_interface/launch/moveit_interface.launch
  ros1/src/bridge/march_parameter_server/launch/march_parameter_server.launch
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros1/src/data/march_data_collector/launch/march_data_collector.launch
  ros1/src/data/march_realsense_reader/CMakeLists.txt
  ros1/src/data/march_realsense_reader/launch/realsense_reader.launch
  ros1/src/data/march_realsense_test_publisher/CMakeLists.txt
  ros1/src/hardware/drivers/march_imu_manager/CMakeLists.txt
  ros1/src/hardware/drivers/march_pdb_state_controller/CMakeLists.txt
  ros1/src/hardware/interface/march_hardware/CMakeLists.txt
  ros1/src/hardware/interface/march_hardware_builder/CMakeLists.txt
  ros1/src/hardware/interface/march_hardware_interface/CMakeLists.txt
  ros1/src/simulation/march_gazebo_plugins/CMakeLists.txt
Owners: @Olavhaasie

Add valgrind as launch prefix to a lot of ROS1 nodes
  ros1/src/bridge/march_parameter_server/launch/march_parameter_server.launch
  ros1/src/control/march_gain_scheduling/launch/march_gain_scheduling.launch
  ros1/src/data/march_data_collector/launch/march_data_collector.launch
  ros1/src/data/march_realsense_reader/launch/realsense_reader.launch
  ros1/src/data/march_realsense_test_publisher/launch/realsense_test_publisher.launch
  ros1/src/gaits/march_rqt_gait_generator/launch/march_rqt_gait_generator.launch
  ros1/src/hardware/interface/march_hardware/launch/slave_count.launch
  ros1/src/hardware/interface/march_hardware_interface/launch/hardware.launch
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_launch/launch/realsense_camera.launch
  ros1/src/simulation/march_simulation/launch/march_world.launch
Owners: @Olavhaasie

Setting acado-solver branch back to main and setting the test_joint_rotational as the model because the other models have hardcoded constraints which would lead to errors
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/msg/mpc_msgs/MpcTuning.msg
Owners: @Olavhaasie

Refactor simulation launch files
  ros1/src/hardware/interface/march_hardware_interface/launch/hardware.launch
  ros1/src/simulation/march_simulation/config/airgait/effort_control/march3.yaml
  ros1/src/simulation/march_simulation/config/airgait/effort_control/march4.yaml
  ros1/src/simulation/march_simulation/config/airgait/effort_control/march4_with_koen_lengths.yaml
  ros1/src/simulation/march_simulation/config/airgait/effort_control/march6.yaml
  ros1/src/simulation/march_simulation/config/airgait/effort_control/test_joint_rotational.yaml
  ros1/src/simulation/march_simulation/config/airgait/model_predictive_control/march4.yaml
  ros1/src/simulation/march_simulation/config/airgait/model_predictive_control/test_joint_rotational.yaml
  ros1/src/simulation/march_simulation/config/groundgait/effort_control/march4.yaml
  ros1/src/simulation/march_simulation/config/groundgait/effort_control/march6.yaml
  ros1/src/simulation/march_simulation/launch/march_world.launch
Owners: @Olavhaasie, @gaiavdh, @marnixbrands

Add mixed control config file
  ros1/src/simulation/march_simulation/config/airgait/mixed_control/march6.yaml
Owners: @gaiavdh, @marnixbrands

Enable multiple simultanous PID trajectory controllers
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
  ros1/src/hardware/interface/march_hardware_interface/launch/hardware.launch
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_launch/scripts/upload_controller_values.py
  ros1/src/simulation/march_simulation/launch/march_world.launch
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
Owners: @gaiavdh, @marnixbrands, @Olavhaasie

Refactor HW controller files and rename trajectory_effort -> trajectory
  ros1/src/hardware/interface/march_hardware_interface/config/effort_control/march3.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/effort_control/march4.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/effort_control/march6.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/effort_control/test_joint_linear.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/effort_control/test_joint_rotational.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/march3/joint_limits.yaml
  ros1/src/hardware/interface/march_hardware_interface/launch/hardware.launch
  ros1/src/march_launch/scripts/upload_controller_values.py
  ros1/src/simulation/march_simulation/config/airgait/mixed_control/march6.yaml
  ros1/src/simulation/march_simulation/launch/march_world.launch
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
Owners: @gaiavdh, @marnixbrands, @Olavhaasie

Apply black formatter
  ros1/src/march_launch/scripts/upload_controller_values.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
Owners: @Olavhaasie

Improve documentation and typing
  ros1/src/march_launch/scripts/upload_controller_values.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
Owners: @Olavhaasie

Type hints TrajectoryScheduler
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
Owners: @Olavhaasie

Cancel all active goals when failed = true
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
Owners: @Olavhaasie

Create script that automatically spawns all controllers
  ros1/src/march_launch/CMakeLists.txt
  ros1/src/march_launch/scripts/spawn_all_controllers.py
  ros1/src/simulation/march_simulation/launch/march_world.launch
Owners: @Olavhaasie

Bugfixes
  ros1/src/march_launch/scripts/spawn_all_controllers.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
Owners: @Olavhaasie

Copy mpc values to mixed control
  ros1/src/simulation/march_simulation/config/airgait/mixed_control/march6.yaml
Owners: @gaiavdh, @marnixbrands

Remove comment in launch file
  ros1/src/simulation/march_simulation/launch/march_world.launch
Owners: @Olavhaasie

Add dummy files to trigger pipeline
  ros1/src/hello.py
  ros2/src/goodbye.cpp
Owners: @Olavhaasie

Add non specific file to see branch pipeline
  hello
Owners: @Olavhaasie

Using an MPC model with two joints (HAA) and adding mpc config to the mixed_control march6.yaml file
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros1/src/simulation/march_simulation/config/airgait/mixed_control/march6.yaml
Owners: @Olavhaasie, @gaiavdh, @marnixbrands

Start with the implementation of reading other gaits
  ros2/src/gaits/march_gait_files/test_versions_vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions_vi/realsense_gaits.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/gait/gait.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
Owners: @gaiavdh, @marnixbrands, @Olavhaasie

Also read gaits from the specified location
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/realsense_gait.py
  ros2/src/shared/march_utility/march_utility/gait/gait.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
Owners: @Olavhaasie

Update the default.yaml
  ros2/src/gaits/march_gait_files/test_versions_vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions_vi/realsense_gaits.yaml
Owners: @gaiavdh, @marnixbrands

Update the other default yamls
  ros2/src/gaits/march_gait_files/airgait_vi/default.yaml
  ros2/src/gaits/march_gait_files/minimal/default.yaml
  ros2/src/gaits/march_gait_files/simulation_only_vi/default.yaml
  ros2/src/gaits/march_gait_files/test_joint_linear_gaits/default.yaml
  ros2/src/gaits/march_gait_files/test_joint_rotational_gaits/default.yaml
Owners: @gaiavdh, @marnixbrands

Make the gait read path optional
  ros2/src/shared/march_utility/march_utility/gait/gait.py
Owners: @Olavhaasie

Fix python style and format python
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/gait/gait.py
Owners: @Olavhaasie

Add testing gait files
  ros2/src/gaits/march_gait_selection/test/other_testing_gait_files/default.yaml
  ros2/src/gaits/march_gait_selection/test/other_testing_gait_files/walk/left_close/MV_walk_leftclose_v2.subgait
  ros2/src/gaits/march_gait_selection/test/other_testing_gait_files/walk/left_swing/MV_walk_leftswing_v2.subgait
  ros2/src/gaits/march_gait_selection/test/other_testing_gait_files/walk/right_close/MV_walk_rightclose_v2.subgait
  ros2/src/gaits/march_gait_selection/test/other_testing_gait_files/walk/right_open/MV_walk_rightopen_v2.subgait
  ros2/src/gaits/march_gait_selection/test/other_testing_gait_files/walk/right_swing/MV_walk_rightswing_v2.subgait
  ros2/src/gaits/march_gait_selection/test/other_testing_gait_files/walk/walk.gait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/default.yaml
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/walk_single_step_reading_from_walk/walk_single_step_reading_from_walk.gait
Owners: @gaiavdh, @marnixbrands

Add tests
  ros2/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
Owners: @Olavhaasie

Work on making tests pass
  ros2/src/shared/march_utility/march_utility/gait/gait.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/test/resources/default.yaml
Owners: @Olavhaasie, @gaiavdh, @marnixbrands

Format code
  ros2/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
Owners: @Olavhaasie

Fix tests
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/default.yaml
  ros2/src/shared/march_utility/test/gait_test.py
  ros2/src/shared/march_utility/test/resources/gait_graph_gaits/default.yaml
Owners: @gaiavdh, @marnixbrands, @Olavhaasie

Improve tests
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/setup.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
  ros2/src/gaits/march_gait_selection/test/other_testing_gait_files/default.yaml
  ros2/src/gaits/march_gait_selection/test/other_testing_gait_files/walk/left_close/MV_walk_leftclose_other_directory_v2.subgait
  ros2/src/gaits/march_gait_selection/test/other_testing_gait_files/walk/left_swing/MV_walk_leftswing_other_directory_v2.subgait
  ros2/src/gaits/march_gait_selection/test/other_testing_gait_files/walk/right_close/MV_walk_rightclose_other_directory_v2.subgait
  ros2/src/gaits/march_gait_selection/test/other_testing_gait_files/walk/right_open/MV_walk_rightopen_other_directory_v2.subgait
  ros2/src/gaits/march_gait_selection/test/other_testing_gait_files/walk/right_swing/MV_walk_rightswing_other_directory_v2.subgait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/default.yaml
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/walk_single_step_from_walk/walk_single_step_from_walk.gait
  ros2/src/gaits/march_gait_selection/test/testing_gait_files/walk_single_step_from_walk_other_directory/walk_single_step_from_walk_other_directory.gait
Owners: @Olavhaasie, @gaiavdh, @marnixbrands

Restore setup.py
  ros2/src/gaits/march_gait_selection/setup.py
Owners: @Olavhaasie

Fix tests
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/setup.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_gait_transition.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_realsense_gait.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_setpoints_gait.py
Owners: @Olavhaasie

Fix build problems with tests
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/setup.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_gait_transition.py
Owners: @Olavhaasie

Fix all tests
  ros2/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
Owners: @Olavhaasie
